<template>
  <div>
    <!-- <cookies></cookies> -->
    <div class="container-fluid bg-motos prueba">
      <header-component />
      <div class="row marg-arriba">
        <div class="col-12 col-md-5">
          <!--PROMO HOTSALE-->
          <div class="row contenedorPromo">
            <div class="container-fluid p-0 m-0 adornosPromo" :style="this.$store.state.config.promoSpecial
              ? 'border: 5px dotted #E30613'
              : 'border: 5px dotted #bababa'">
              <div class="row pt-3 pb-1 px-2">
                <div class="col-4 mt-2 mt-md-0">
                  <img src="img/aseguradoras-logo/color/motos.svg" alt="logo" class="img-fluid" width="185" height="74">
                </div>
                <div class="col-2 px-1 mt-2 mt-lg-0" v-if="this.$store.state.config.promoSpecial">
                  <img width="75" height="75" :src="this.$store.state.config.promoImg" alt="logo promocion"
                    class="m-auto img-fluid" v-if="this.$store.state.config.promoSpecial">
                </div>
                <div class="position-relative" :class="this.$store.state.config.promoSpecial ? 'col-6' : 'col-8'">
                  <!-- Obtén y msi son estáticos, solo descuentosPromo y msiPromo son dinámicos -->
                  <small class="labelPromo">Obtén</small>
                  <p class="descuentosPromo" :style="this.$store.state.config.promoSpecial
                    ? 'background: #e30613'
                    : 'background: #bababa'">Hasta {{ $store.state.config.desc }}</p>
                  <small class="msiPromo">{{ $store.state.config.msi }} </small>
                 <small class="msiPromo">{{$store.state.config.extraMsg}}</small> 
                </div>
              </div>
            </div>
          </div>

          <div class="d-none d-md-block text-center mt-5">
            <picture>
              <source srcset="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/moto-compara.png" type="image/png">
              <img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/moto-compara.png" alt="mono compara" class="fig1">
            </picture>
          </div>
          <div class="row d-none d-md-flex">
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="tarjeta1c"></span>
              <small class="tsmall">12 Meses Sin Intereses </small>
            </div>
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="etiq1c"></span>
              <small class=" tsmall">Ahorra hasta el 50%</small>
            </div>
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="reloj1c"></span>
              <small class="tsmall">compara en 10 segundos</small>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 px-0 px-md-4">
          <h1 class="tprin text-center">Cotiza tu Seguro para Motos</h1>
          <small class="text-center text-peq d-block text-muted">Ingresa los datos de tu moto para cotizar en
            segundos</small>
          <div class="col-12 col-lg-10 mx-auto">
            <motos-form-completo :config="this.$store.state.config"></motos-form-completo>
          </div>
        </div>
      </div>
      <!--VISTA DE CEL-->
      <div class="row  d-md-none py-3">
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="tarjeta1c"></span>
          <small class="">12 Meses Sin Intereses </small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="etiq1c"></span>
          <small class="">Ahorra hasta el 50%</small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="reloj1c"></span>
          <small class="">compara en 10 segundos</small>
        </div>
      </div>
    </div>

    <!-- CONTENIDO -->

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">¡Desde Compara Ya podrás contratar Seguro para Motos Quálitas!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p>Si eres un motociclista preocupado por tu seguridad y la de tu vehículo llegaste al lugar correcto, y es que
            en ComparaYa.mx puedes conocer el Seguro para Motos Quálitas con el cual podrás proteger de tu patrimonio con
            una de las mejores compañías aseguradoras en México.</p>
          <p>Conducir una moto tiene muchas ventajas, ya que puede salvarte cuando hay mucho tráfico o se puede emplear
            para fines personales y laborales, por ello, es importante que busques la mejor y más completa protección.</p>
          <p>Quálitas Seguros es una compañía que cuenta con Seguro para Motos, por lo que con ellos puedes contratar el
            plan que más te convenga, ya que trabajan con diferentes coberturas para que elijas la que más se adapte a tus
            necesidades y presupuesto.</p>
          <p>Con el Cotizador de Seguro para Motos de ComparaYa.Mx podrás conocer la oferta que Quálitas Seguros tiene
            para ti, todo de manera muy sencilla y rápida.</p>

        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">Conoce los planes que Quálitas tiene para ti en los Seguros de Motos</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p>Dentro del Seguro para Motos Quálitas existen diferentes coberturas, de esta forma los motociclistas podrán
            elegir la que más se adapte a lo que buscan, por lo que estarán respaldados con los servicios necesarios.</p>
          <p>En la siguiente tabla te mostraremos los planes que puedes contratar en los Seguros de Motos Quálitas.</p>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Tipo de Seguro</th>
                  <th scope="col">Paquete Amplia</th>
                  <th scope="col">Paquete Limitada</th>
                  <th scope="col">Paquete Básico</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Daños Materiales</th>
                  <td>✓</td>
                  <td>X</td>
                  <td>X</td>
                </tr>
                <tr>
                  <th scope="row">Robo Total</th>
                  <td>✓</td>
                  <td>✓</td>
                  <td>X</td>
                </tr>
                <tr>
                  <th scope="row">Responsabilidad Civil por Daños a Terceros</th>
                  <td>✓</td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row">Responsabilidad Civil a Pasajero</th>
                  <td>✓</td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row">Responsabilidad Civil por Daños Ocasionados por la Carga</th>
                  <td>✓</td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row">Gastos Legales</th>
                  <td>✓</td>
                  <td>✓</td>
                  <td>✓</td>
                </tr>
                <tr>
                  <th scope="row">Gastos Médicos a Ocupantes</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">Asistencia Vial Quálitas</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">Equipo Especial</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
                <tr>
                  <th scope="row">Muerte del conductor por Accidente Automovilístico</th>
                  <td>Opcional</td>
                  <td>Opcional</td>
                  <td>Opcional</td>
                </tr>
              </tbody>
            </table>
          </div>

          <p>Cotizar Seguro para Motos Quálitas es muy sencillo desde Compara Ya, pues en un solo portal encontrarás toda
            la información necesaria para proteger de tu vehículo.</p>

        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">¿Por qué contratar Seguro de Motos con Quálitas?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">

          <p>Quálitas es una compañía que desde hace varios años se ha dedicado a proteger el patrimonio de los mexicanos,
            ya sean casas, autos, motos y además, cuenta con planes en los que tu salud es lo primero, por eso es una
            empresa en la que sin duda puedes confiar.</p>
          <p>Esta compañía se ha especializado en seguros de auto y moto, pues son los principales medios de transporte y
            cada vez son más los mexicanos que adquieren estas unidades, haciendo crecer su patrimonio, por lo que buscan
            que sus bienes materiales estén seguros ante distintos tipos de daños.</p>
          <p>Con el Seguro para Motos Quálitas podrás disfrutar de distintos beneficios como el respaldo por robo, daños
            materiales, asistencia vial y legal, etc, así no tendrás que preocuparte por gastos inesperados.</p>
          <p>Haz uso del Cotizador de Seguro para Motos de Compara Ya, pues en segundos podrás conocer las coberturas que
            Quálitas tiene para ti.</p>

        </div>
      </div>
    </div>

    <div class="container-fluid my-3 my-lg-4 d-none d-md-block">
      <div class="row">
        <div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
          <picture>
            <source srcset="img/circulo-mono.webp" type="image/webp">
            <img src="img/circulo-mono.png" alt="mono2" class="monocirc">
          </picture>
        </div>
        <div class="col-7 col-md-6  my-auto">
          <div class="row">
            <div class="col-12 px-lg-5 fichabtn py-3">
              <p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
              <a href="qualitas/#formcotizar" class="my-2 btn btn-block btn-success btncotiza">
                <div class="form-e">
                  Cotizar Ahora <span class="f-sig"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h4 class="borde-tit">Coberturas extras del Seguro de Motos Quálitas</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">

          <p>Además de tu Seguro para Motos Quálitas podrás contratar coberturas extras que te brindarán una protección
            más completa.</p>
          <p>Las coberturas adicionales que Quálitas tiene en el Seguro para Motos son:</p>

          <ul class="pl-3">
            <li class="text lista"><span class="circulito"></span> <strong>Gastos médicos ocupantes</strong>: Te ampara en
              caso de que debas pagar por conceptos como hospitalización, medicamentos, atención médica, enfermeros,
              servicio de ambulancia y gastos funerarios, siempre y cuando sean originados durante un accidente
              automovilístico donde se vea involucrado el asegurado.</li>
            <li class="text lista"><span class="circulito"></span> <strong>Asistencia vial Quálitas</strong>: Con esta
              extensión la compañía se compromete a prestar los servicios de asistencia en viaje y asistencia en kilómetro
              cero, cuando el motociclista sufra un accidente o su unidad presente una falla.</li>
            <li class="text lista"><span class="circulito"></span> <strong>Equipo especial</strong>: Al contratar esta
              cobertura, Quálitas te puede amparar en caso de que el equipo especial que hayas instalado en tu moto sufra
              algún daño por riesgos como colisiones y desastres naturales. Además te ampara por el robo de estas piezas
              si tu unidad es, lógicamente, sustraída.</li>
            <li class="text lista"><span class="circulito"></span> <strong>Muerte al conductor por accidente
                automovilístico</strong>: Esta cobertura opcional ampara a los conductores por cualquier lesión corporal
              que sufran de manera súbita o violenta, mientras conducen su motocicleta, que en casos extremos les cause la
              muerte.</li>
          </ul>

          <p>Como puedes ver, el Seguro para Motos de Quálitas es uno de los más completos del mercado ya que cuenta con
            todos los servicios necesarios para la protección de tu motocicleta.</p>

        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h4 class="borde-tit">¿Qué debes tomar en cuenta al contratar un seguro para tu moto?</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p>Cuando contratas un Seguro para Motos Quálitas, es importante que tomes en cuenta algunas condiciones
            generales, mismas que te evitarán malos entendidos o problemas en caso de que necesites los beneficios de esta
            aseguradora.</p>
          <p>Es importante que quede claro las coberturas adicionales que hayas contratado y las exclusiones que la
            aseguradora establezca en cada uno de sus paquetes, para que no te lleves sorpresas más adelante.</p>
          <p>El monto de la prima y la suma total por la cual aseguras tu moto son dos datos no debes pasar por alto, así
            que en caso de que tengas cualquier duda, es importante que te comuniques con Quálitas para que te ayuden a
            resolver los inconvenientes.</p>
          <p>Cotiza Seguro para Motos Quálitas y descubre todos los beneficios que tiene para ti.</p>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
import HeaderComponent from '~/components/common/Header.vue'
import MotosFormCompleto from '~/components/forms/MotosFormQualitas.vue'
import getInsurerPromo from "~/plugins/promoData.js";
  import cookies from '~/components/common/cookies.vue'

export default {
  beforeCreate: function () {
    this.$store.state.config.aseguradora = 'QUALITAS';
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.descuento = 0;
    this.$store.state.config.telefonoAS = '88902487';
    this.$store.state.config.grupoCallback = 'VN Motos';
    this.$store.state.config.from = 'COMPARAYA-MOTOS';
    this.$store.state.config.idPagina = 159;
    this.$store.state.config.idMedioDifusion = 3381;
    this.$store.state.config.idMedioDifusionInteraccion = 6082;
    this.$store.state.config.idMedioDifusionEcommerce = 6081;
    this.$store.state.config.idSubRamo = 57;
    this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.dominioCorreo = "MOTOS|comparaya-mx-seguros-para-motos";
    this.$store.state.config.idCampana = 21;
    this.$store.state.config.imgaseg = 'mapfre'; //esta se quitara
    this.$store.state.config.urlRedireccion = '/qualitas/thanks';
    this.$store.state.config.urlFinal = '/thanks';
    ///////////////////////////////////////////////////
    //PROMOCIONES
    this.$store.state.config.subproduct = "motos";


  },

  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        "genericas",
        this.$store.state.config.aseguradorapromo
      );

      this.$store.commit("telApi");

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;

      /* Descomentar cuando la API mande estos valores
      y borrar los de abajo.

      store.state.config.cotizacion = insurer.quote;
      store.state.config.telefonoAS = insurer.phone;
      store.state.config.telefonoBtn = insurer.phone;

      */

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 = "col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 = "col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo = "descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },

  components: {
    HeaderComponent,
    cookies,
    MotosFormCompleto
  },
  head() {
    return {
      title: '🏅Seguro para Motos Quálitas - Cotiza Seguro de Moto Quálitas - Compara Ya',
      meta: [
        { hid: 'keywords', name: 'keywords', content: 'Seguro para Motos Quálitas, Cotizador de Seguro para Motos, Seguro para Motos, Seguros de Motos, Seguros de Motos Quálitas, Cotizar Seguro para Motos Quálitas, Cotizador de Seguro para Motos, Seguro de Motos Quálitas' },
        { hid: 'description', name: 'description', content: 'El Seguro para Motos Quálitas es uno de los más completos en México ✅ ¡Cotiza y contrata en segundos desde ComparaYa.mx!' },
        { hid: 'author', name: 'author', content: '' },
        { hid: 'sitemap', rel: 'sitemap', type: 'application/xml', title: 'sitemap', href: 'sitemap.xml' },
        { hid: 'canonical', rel: 'canonical', href: 'https://comparaya.mx/seguros-para-motos/qualitas' },
        { hid: 'robots', name: 'robots', content: 'index,follow' },
      ]
    }
  }
};
</script>
<style>
.masthead .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}

.btnv {
  display: none;
}

.img-aseg {
  margin: 34px 15px;
}

.tprincipal {
  text-align: left;
  color: white;
  padding: 2% 0px 0px 0px;
  font-size: 2.5em;
}

.tprincipal2 {
  text-align: left;
  color: white;
}

.c-motos {
  background: #fff;
  padding: 0px;

  height: 145px;
}

.blanco {
  background-color: white;
  height: 145px;
}

.bordes {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.bordes2 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cal {
  display: inline;
  font-size: 20px;
}

.img-moto {
  height: 4rem;
  max-width: 80%;
  margin-top: 8px;
}

.rev {
  font-size: 15px;
}

.styleratestar {
  font-size: 25px;
  color: #ffcc20;
  margin-bottom: 0;
}

@media (min-width: 1800px) {
  .img-moto {
    max-width: 70%;
    margin-top: 5px;
  }

}

@media (min-width: 992px) and (max-width: 1100px) {
  .c-motos {
    height: 150px;
  }

  .blanco {
    height: 150px;
  }

  .tprincipal {
    font-size: 22px;
  }

  .tprincipal2 {
    font-size: 15px;
  }

  /*estilos de formulario*/
  .cal {
    display: block;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: -16px;
  }

  .rev {
    font-size: 14px;
  }

  .styleratestar {
    font-size: 18px;
    color: #fedb64;
    margin-bottom: 0;
  }

  .img-moto {
    height: 70px;
    width: 100%;
    margin-top: 5px;
  }
}

@media (min-width: 801px) and (max-width: 991px) {
  .c-motos {
    height: 200px;
  }

  .blanco {
    height: 200px;
  }

  .tprincipal {
    font-size: 22px;
  }

  .tprincipal2 {
    font-size: 15px;
  }

  /*estilos de formulario*/
  .cal {
    display: block;
    font-size: 22px;
    margin-top: -10px;
    margin-bottom: -14px;
  }

  .rev {
    font-size: 18px;
  }

  .styleratestar {
    font-size: 22px;
    color: #fedb64;
    margin-bottom: 0;
  }

  .img-moto {
    height: 100px;
    width: 100%;
    margin-top: -22px;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .c-motos {
    height: 190px;
  }

  .blanco {
    height: 190px;
  }

  .tprincipal {
    font-size: 30px;
  }

  .tprincipal2 {
    font-size: 18px;
  }

  /*estilos de formulario*/
  .cal {
    display: block;
    font-size: 22px;
    margin-bottom: -10px;
  }

  .rev {
    font-size: 18px;
  }

  .styleratestar {
    font-size: 13px;
    color: #fedb64;
    margin-bottom: 0;
  }

  .img-moto {
    height: 65px;
    width: 100%;
    margin-top: 0px;
  }

  label {
    font-size: 10px
  }

}

@media (min-width: 426px) and (max-width: 767px) {
  .img-aseg {
    margin: 0px 0px;
  }

  .tprincipal {
    font-size: 22px;
  }

  .tprincipal2 {
    font-size: 15px;
  }

  /*estilos de formulario*/
  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .cal {
    display: block;
  }

  .img-moto {
    width: 105%;
    margin-top: 8px;
  }

  .rev {
    font-size: 14px;
  }

  .stylerate {
    font-size: 18px;
    color: black;
    margin-top: 0px;
    margin-bottom: -8px;
  }

  .c-motos {
    height: auto;
  }

  .blanco {
    height: auto;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .c-motos {
    height: auto;
  }

  .blanco {
    height: auto;
  }

  .img-aseg {
    margin: 0px 0px;
  }

  .tprincipal {
    font-size: 22px;
    text-align: center;
  }

  .tprincipal2 {
    font-size: 15px;
  }

  /*estilos de formulario*/
  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .cal {
    display: block;
    font-size: 28px;
    margin-bottom: -10px;
    margin-top: 0px;
  }

  .img-moto {
    max-width: 100%;
    margin-top: 1px;
  }

  .styleratestar {
    font-size: 20px;
    color: #fedb64;
    margin-bottom: 0;
  }

  .rev {
    font-size: 16px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .c-motos {
    height: auto;
  }

  .blanco {
    height: auto;
  }

  .img-aseg {
    margin: 0px 0px;
  }

  .tprincipal {
    font-size: 20px;
    text-align: center;
  }

  .tprincipal2 {
    font-size: 15px;
  }

  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  /*Estilos de formulario*/
  .cal {
    display: block;
    margin-bottom: -10px;
  }

  .img-moto {
    height: 65px;
    max-width: 100%;
    margin-top: 0px;
  }

  .rev {
    font-size: 14px;
  }

  .styleratestar {
    font-size: 21px;
    color: #fedb64;
    margin-bottom: 0;
  }
}

@media (min-width: 240px) and (max-width: 320px) {
  .c-motos {
    height: auto;
  }

  .blanco {
    height: auto;
  }

  .img-aseg {
    margin: 0px 0px;
  }

  .tprincipal {
    font-size: 1rem;
    text-align: center;
  }

  .tprincipal2 {
    font-size: 15px;
  }

  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  /*estilos de formulario*/
  .cal {
    display: block;
    margin-bottom: -10px;
  }

  .rev {
    font-size: 14px;
  }

  .styleratestar {
    font-size: 18px;
    color: #fedb64;
    margin-bottom: 0;
  }

  .img-moto {
    height: 60px;
    max-width: 85%;
    margin-top: 0px;
  }
}</style>
