.contenedorPromo {
  background: #fff;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #bababa;
  max-width: 760px;
  width: 100%;
  height: auto;
  margin: auto;
}

.adornosPromo {
  border: 4px dotted #575fef;
  border-radius: 6px;
}

.labelPromo {
  position: absolute;
  top: -13px;
  left: -10px;
  background: #fbab78;
  color: #fff;
  border-radius: 10px;
  padding: 0px 12px;
}

.descuentosPromo {
  background: #575fef;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 8px;
  padding: 0.8rem 0.2rem;
  border-radius: 5px;
  line-height: 1;
}

.msiPromo {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  line-height: 1;
}

.labelendPromo {
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
/*E S T I L O S      D E     G N P*/
.figpri{width: 355px;}
.fig1{width: 358px;margin-top: -45px;height: auto;}
.globo{background-image: url(/seguros-para-motos/img/globo.svg);background-repeat: no-repeat;background-size: 215px;width: 214px;height: 157px; float: right;}
.img-aseg{width: 185px;margin: 20px 14px;float: right;height: auto;}
.tpromo{color: #fff;font-weight: bold;font-size: 35px;}
.print{color: white!important;}
.tdesc{color: #fff;font-size: 35px;}
.teform{font-size: 24px;font-weight: bold;}
.tprincot{font-size: 30px;color: #fff;}
.tprin{font-size: 30px;color: #284460;}
.eliminar{background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position:-346px -40px; width:20px; height:16px;margin: auto; display:block; background-repeat:no-repeat;background-size: 428px;}
.tarjeta1 {background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position: -19px -242px;width: 65px;height: 55px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1100px;}
.etiq1 {background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position:-114px -243px;width: 65px;height: 55px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1100px;}
.reloj1 {background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position:-222px -243px;width: 65px;height: 55px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1100px;}
.tarjeta1c {background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position:-20px -180px;width: 65px;height: 55px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1100px;}
.etiq1c {background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position:-115px -182px;width: 65px;height: 55px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1100px;}
.reloj1c {background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position:-222px -181px;width: 65px;height: 55px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1100px;}
.tsmall{color: #284460;}
.f-arriba{background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position: -430px -63px;width: 37px;height: 27px;margin: auto;display: block;background-repeat: no-repeat;background-size: 660px;}
.f-sig2{background-image: url(/seguros-para-motos/img/sprite-elem.svg); background-position: -382px -59px;width:19px; height:38px; background-size: 700px;display:block; background-repeat:no-repeat;}

.qualitas{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-9px 2px; width:72px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.gnp{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-106px 1px; width:45px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.axa{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position: -297px 0px;width: 28px;height: 27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 922px;}
.banorte{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-431px 4px; width:82px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.zurich{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-432px -32px; width:77px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.inbursa{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-90px -33px; width:77px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.hdi{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-21px -37px; width:43px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.ana{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-705px -1px; width:43px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.atlas{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-777px -35px; width:72px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.afirme{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-517px 1px; width:74px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.aig{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position: -170px 0px;width: 52px;height: 27px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1048px;}
.latino{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position: -218px 0px;width: 33px;height: 27px;margin: auto;display: block;background-repeat: no-repeat;background-size: 898px;}
.general{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-188px -35px; width:61px; height:22px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.bxmas{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-358px -34px; width:55px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.aba{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-783px -3px; width:59px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.sura{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-692px -35px; width:65px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.potosi{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position:-261px -35px; width:78px; height:27px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 1140px;}
.mapfre{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position: -556px -2px;width: 54px;height: 27px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1035px;}
.miituo{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position: -501px -30px;width: 40px;height: 27px;margin: auto;display: block;background-repeat: no-repeat;background-size: 926px;}
.migo{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position: -469px -34px;width: 65px;height: 27px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1025px;}
.crabi{background-image: url(/seguros-para-motos/img/sprite-logos.png);background-position: -469px -34px;width: 56px;height: 27px;margin: auto;display: block;background-repeat: no-repeat;background-size: 1025px;}

.btncotiza{border: none;font-weight: 700;margin-top: 0px;font-size: 30px;}
.estrella{background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position:-305px -40px; width:20px; height:20px; margin: auto;  display:block; background-repeat:no-repeat;background-size: 415px;}
.flecha-abajo{background-image: url(/seguros-para-motos/img/sprite-elem.svg); background-position:-139px -33px;width: 20px;height: 12px;margin: auto;display: block;background-repeat: no-repeat;transform: rotate(180deg);background-size: 350px;}
.mono2{width: 85%;}
.monocirc{width: 270px;height: auto;}
.textm2{font-size: 35px;color: gray; border-bottom: solid 2px #06c33a; font-weight: bold;}
.textm2b{font-size: 50px; border-bottom: solid 2px #09cc8f;color: #284460;max-width: max-content;}

.logocompa {background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position: -166px 2px;width: 134px;height: 32px;display: inline-block;background-repeat: no-repeat;background-size: 445px;}
.logocompagra {background-image: url(/seguros-para-motos/img/sprite-elem.svg);}
.imgtelef{background-image: url(/seguros-para-motos/img/sprite-elem.svg); background-position:-140px -48px; width:17px; height:17px; margin: auto 0; display:block; background-repeat:no-repeat;background-size: 445px;}
.btn-telef{background-color: #fff; float:right; color: #777; border-radius: 5px; padding: 10px 10px; margin: 9px 35px 10px 0px;}
.btn-telef:hover{ color: #777; }
.circulito{background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position: -125px -65px;width: 16px;height: 20px;display: block;background-repeat: no-repeat;background-size: 330px;}
.frase{display: -webkit-inline-box;}
.beneficios{margin-top: -120px;background: #f4f4f4;}
.marg-arriba{margin-top:20px;}

.bg-motos{background-image: url(/seguros-para-motos/img/personalizado/back-motos.svg);background-repeat:no-repeat;background-size: contain;background-position: 0px -0px;}
.f-sigb{background-image: url(/seguros-para-motos/img/sprite-elem.svg); background-position: -298px -49px;width: 16px;height: 28px;background-size: 550px;margin: auto;display: block;background-repeat: no-repeat;}
.f-sig{background-image: url(/seguros-para-motos/img/sprite-elem.svg); background-position: -382px -67px;width:19px; height:28px; background-size: 700px;margin: auto;  display:block; background-repeat:no-repeat;}

.bg-cot{background: linear-gradient(0deg,rgba(16,36,88,1) 0%,rgba(23,68,93,1) 47%,rgba(23,68,93,1) 100%);/*background-image: url(/static/img/personalizado/back-cot.svg);background-repeat:no-repeat;background-size: contain;background-position: 0px 0px;*/}
.mono-gracias{width: 80%;}
.mod-a{border-bottom: 2px solid #00de46; width: max-content; font-size: 25px;color:white;}
.tpcot{/*color: #4e5c6b;*/color: white; font-weight: bold;}
.descu{width: max-content;border-radius: 5px; }
/*gracias aseg*/
.asegcoloraba{color: #284460;font-weight: bold;}
.mono-grac{width: 175px;}
.texto-a{ color:#777;font-size: 20px;border-bottom: solid 2px #00de46;}
.img-aseg-g{width: 155px;}
.estrellas{text-align: center;}
.review{font-size:15px;margin-bottom:0;text-align: center;margin-top: -5px;}
.llamar{margin: auto;color: white;font-size: 14px;} 
.b-amaseg{background: #0651a2; color: white;display: inline-flex;  margin-left: 0px;padding: 5px 30px;}
.b-amaseg:hover {background: #083668;}
/*.b-veraseg{color: white;display: inline-flex;padding: 5px 25px; background-color: #f2750a;border-color: #e36f0b;border-bottom: 5px solid #df6700;}
.b-veraseg:hover{background-color: #f2750a;border-color: #e36f0b;border-bottom: 5px solid #df6700;color: white;}*/
.b-veraseg{color: white;display: inline-flex;padding: 5px 25px;background-color:#f2750a;border-color:#e36f0b;border-bottom:5px solid #df6700;}
.b-veraseg:hover{color: white;background-color:#e36f0b;border-bottom:5px solid #f2750a;border-top:2px solid #f2750a;border-left:2px solid #f2750a;border-right:2px solid #f2750a;}
.b-veraseg.focus{color:#fff;background-color:#f2750a;border-color:#f2750a;box-shadow:0 0 0 .2rem #f2750a;}
.b-veraseg.disabled{color:#fff;background-color:#f2750a;border-color:#f2750a}

.b-comprarinter{ color: white;display: inline-flex;padding: 5px 35px;border-color:#1e7e34;border-bottom:5px solid #1e7e34;}
.b-comprarinter:hover{color: white;background-color:#1e7e34;border-bottom:5px solid #1e7e34;border-top:2px solid #1e7e34;border-left:2px solid #1e7e34;border-right:2px solid #1e7e34;}
.b-comprarinter.focus,.btn-success:focus{color:#fff;border-color:#1e7e34;box-shadow:0 0 0 .2rem #1e7e34;}
.b-comprarinter.disabled,.btn-success:disabled{color:#fff;border-color:#1e7e34}

.espacio-arr{padding-top: 70px;}
.t-rec{color: #284460;}
.fichabtn{ box-shadow: 8px 0px 10px 0px rgba(1, 5, 1, 0.2);margin-left: 20px;}
.medallab{background-image: url(/seguros-para-motos/img/sprite-elem.svg);background-position: -464px -94px;width: 27px;height: 28px;margin: auto 0;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;background-repeat: no-repeat;background-size: 560px;}
.esp-l{margin-top: -3px;}

.i-asegrec{width: 90%;}

/*-------------------------------------*/

body{margin: 0; padding: 0px;}
*,body,p,h1,h2,h3,h4,h5,h6,span,ul,li,ol,input,button,select{font-family: 'helvetica', sans-serif;}
/*********************************ESTILOS NUEVOS SOLO DE INDEX****************************************/
.alert{padding: 0!important;margin-bottom: 0; }
.icarro{width: 100%;    margin-left: -50px;position: absolute;bottom: 2rem;}
.tp{text-align: left; font-weight: bold; font-size: 2.2rem; color: #4f5c6c;}
.obten{text-align: left;  font-size: 2.2rem; color: #4f5c6c;    margin-left: 60px;}
.seguro{border-bottom: solid 1px #09cc8f;}
.recuadro {background: white; margin: 1vh; font-size: 13px; padding: 2%; box-shadow: 0px 0px 12px 5px rgba(119,119,119,0.3);}
.fuente {color: #4f5c6c;font-weight: bold;  font-size: 1.8rem;}
.text {font-size: 18px;}
.list {color: rgb(0, 224, 66);}
.m-t {margin-top: 8vh;}
.borde2 {width: 100%; font-weight: bold; color: white; }
.call-to-action2 {position: relative;background-color: #4e5c6b;background-size: cover;}
.medalla{width:30px;}
.medalla2{width:60px;}
.medalla3{width: 20px;}
.recom{background-color: #f2f2f2; }
.text-recom{display: inline-flex; margin: 10px 0px;}
.t-recom{color: #284460; font-weight: bold;font-size: 18px;}
.img-recom{width:50px;}
.lista{display:-webkit-box; display: -moz-box;}
/*.clist{background-image: url(/static/img/sprite1.svg);background-position:-250px -55px; width:20px; height:16px; display:block; background-repeat:no-repeat;}*/
.imgtel{background-image: url(/seguros-para-motos/img/sprite1.svg);background-position:-132px 0px; width:17px; height:17px; margin: auto 0; display:block; background-repeat:no-repeat;}
.logocom {background-image: url(/seguros-para-motos/img/sprite-elem.svg);    background-position: -3px -3px;width: 134px;height: 32px;display: inline-block;background-repeat: no-repeat;background-size: 450px;}
.interes {background-image: url(/seguros-para-motos/img/sprite1.svg);background-position:-175px -50px; width:70px; height:70px; margin: auto;  display:block; background-repeat:no-repeat;}
.ahorro {background-image: url(/seguros-para-motos/img/sprite1.svg);background-position:-98px -60px; width:70px; height:70px; margin: auto;  display:block; background-repeat:no-repeat;}
.segundos {background-image: url(/seguros-para-motos/img/sprite1.svg);background-position:-20px -60px; width:70px; height:70px; margin: auto;  display:block; background-repeat:no-repeat;}

a.form-e, div.form-e{display: -webkit-inline-box;/*font-size: 22px;*/}
.experto{color:#4f5c6c;font-weight: bold; font-size: 6vh;border-bottom: #09cc8f solid 2px;text-align: center;}
.icar2{width: 100%;}
.cta{width: 60%;}
/************ESTILOS DE ASEGURADORAS  2020***************/
.visa{ background-image: url(/seguros-para-motos/img/segunda.png);background-position:-666px -3px; width:49px; height:16px; margin: auto;  display:block; background-repeat:no-repeat;}
.master{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-618px 0px; width:44px; height:26px; margin: auto;  display:block; background-repeat:no-repeat;}
.amex{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-574px -3px; width:37px; height:25px; margin: auto;  display:block; background-repeat:no-repeat;}
.estrella2{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-250px -3px; width:25px; height:25px; margin: auto;  display:block; background-repeat:no-repeat;}
.estrellamedia{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-548px -3px; width:25px; height:25px; margin: auto;  display:block; background-repeat:no-repeat;}
.car-1{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-150px -3px; width:95px; height:70px; margin: auto;  display:block; background-repeat:no-repeat;}
.eliminar2{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-523px -3px; width:15px; height:15px; display:block; background-repeat:no-repeat;}
.coberturas{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-290px 0px; width:65px; height:55px; margin: auto;  display:block; background-repeat:no-repeat;}
.p-meses{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-360px 0px; width:50px; height:55px; margin: auto;  display:block; background-repeat:no-repeat;}
.p-exclusivos{background-image: url(/seguros-para-motos/img/segunda.png);background-position:-418px 0px; width:57px; height:50px; margin: auto;  display:block; background-repeat:no-repeat;}
.carro {width: 100%;}
.tprincipal{text-align: left; color: white; padding: 2% 0px 0px; font-weight: bold;}
.tprincipal2 {text-align: left; color: white;}

.bordes {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.bordes2 {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.icon-i {height: 4.5em; max-width: 65%; margin-top: 0%;}
.blanco {background-color: white; height: 170px;}
.cal{display: inline;font-size: 20px;}
.rev {font-size: 15px;}
.styleratestar {margin-top:5px; margin-bottom: 0; display: inline-flex;}
p{font-size: 1rem;text-align: left;color: #888;}
.call-to-action .overlay {position: absolute;background-color: rgba(0, 0, 0, 0.75);height: 100%;width: 100%;top: 0;left: 0;}
li{margin-bottom: .25rem !important;}
ul{text-align: left;font-size: 15px;color: #888;list-style: none;margin-bottom: 1rem;}
.stylerate {font-size: 18px;color: white;margin-top: 10px;/*25px;*/margin-bottom: -8px;}
.stylerate-color {font-size: 18px;margin-top: 10px;/*25px;*/margin-bottom: -8px;}

/****************  E S T I L O S   D E L   C O N T E N I D O **********************/
.icon-l {width: 15%; margin: 5px;}
.pagos {filter: grayscale(1);  display: inline-flex;}

.ben {text-align: center; font-weight: bold; color: #284460; font-size: 1.8rem;}
.borde-tit, .borde-gnp { width: 100%; font-weight: bold; color: #284460; font-size: 1.8rem;}
.fuente-aseg {font-size: 6vh;  color:white; border-bottom: solid #04de66 5px;}
.fuente2 {font-size: 6vh; color: white;}
/*******************************************  ESTILOS DE COMPONENTES DE TRESELEMENTOS   *********************************************/
.iconCompara{width:60px;height:auto;display:block;margin:0 auto;}
.margen-t{margin-top:60px;}
/************************************** ELEMENTOS NUEVOS **********************************************/
.iconCompara2{width:75px;height:auto;display:block;margin:0 auto; margin-bottom: 8px;}
.tlin{border-top: solid 2px #d7d9dd;}
/************************************  COTIZACION 2  0  2  0  ******************************************/
.alert-dismissible{padding-right: 25px;}
.alert-dismissible .close {position: absolute;top: 0;right: 0;padding: 3px 6px;color: inherit;font-size: 20px;}
.colorf{background-color: #e9eef3;}
.encabezado{border-right: solid 1px;border-left: solid 1px; padding: 0; margin-bottom: 0; color:gray; background: white; margin-top: 10px;}
.encabezado2{ padding: 0; margin-bottom: 0; color:gray; background: white; margin-top: 10px;}
.encabezado3{border-left: solid 1px; padding: 0; margin-bottom: 0; color:gray; background: white; margin-top: 10px;}
.recomendado{/*width:max-content;*/border: 1px solid #04de66;box-shadow: 0px 0px 10px 0px rgba(153,148,153,1);margin:auto;}
.tab-blanca{background: white;}
.b-am{background: #0651a2; color: white;display: inline-flex; padding: 10px 5px; margin-left: 0px;}.amar{color: #ff8c00 !important; font-size: 15px;}
.b-am:hover {background: #083668;}
.b-ver{background: #89c700; color: white;display: inline-flex; padding: 10px 5px;margin-left:-20px;}
.b-ver:hover{background: #6f9b0f;}
.cotizacionid{display: inline-flex; width: 170px;    margin-left:0px;}
.cotizacionid2{display: inline-flex; width: 170px;    margin-left:-17px;}
td{color: gray;}

/***************************-----------------  L O A D E R  ------------------**************************/
.spinner {margin: 100px auto 0; width: 70px; text-align: center;}
.pd-t{margin-top: 0;}
.spinner > div {width: 18px;height: 18px;background-color: #00edff; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {-webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 {-webkit-animation-delay: -0.16s; animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {0%, 80%, 100% { -webkit-transform: scale(0) } 40% { -webkit-transform: scale(1.0) }}
@keyframes sk-bouncedelay { 0%, 80%, 100% {-webkit-transform: scale(0); transform: scale(0);} 40% {-webkit-transform: scale(1.0); transform: scale(1.0);}}
.container1 {background-color:#fdfdfd;border:1px solid #ddd;border-radius:4px;margin:10px auto 0;padding:15px;}
/*  height: 100vh;display:inline-block;flex-direction: column;justify-content: center; align-items: center;*/
.post {width:100%;height:auto;display:inline-block;/*width: 220px;height: 80px;*/}
.post .avatar{width:100px;height:2.5em;background-color:#ccc;border-radius:4px;margin:0 auto; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritosquare 2s infinite ease-out;}
.post .stars{width:100px;height:20px;color:#fdfdfd;margin:5px auto;display:block;}
.post .line{width:140px;height:1em; margin:6px auto;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
.post .line-short{float:left;width:1em;height:1em;margin:6px; border-radius:4px;background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
.post .line-txt{height:1em;margin:6px auto;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
.post .line-img{float:left;width:140px;height:1em;margin:6px auto;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size:600px;animation: anim-perritolarge 2s infinite ease-out;}
.post .line-btn{width:160px;height:2em;margin:15px auto 0;border-radius:4px; background-image:linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px); background-size: 600px;animation: anim-perritolarge 2s infinite ease-out;}
@keyframes anim-perritolarge {0% {background-position: -100px;}40%, 100% {background-position:140px;}}
@keyframes anim-perritosquare {0% {background-position: -32px;}40%, 100% {background-position: 208px;}}
/**********************************----------  L I S T A   D E   A S E G U R A D O R A S ------------****************************************/
.imgstylet {width: auto; height: 25px; margin: 10px 0px;}
/*********************************--------------  F O R M U L A R I O  ----------------*************************************/
.custominput{height: 54px;  border: 1px solid gray !important; font-size: 1.2rem;/*font-size: 14px;padding: 4px 0;font-weight: bold;*/color: #284866!important; }


.textform{font-size: 18px;}
.moviletext{text-align: left;}
.custominputg{border: 2px solid #00de46  !important;border: none;color: #888;padding: 4px 0;}
.custom-control {position: unset;}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {background-color: gray;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after { border: solid gray 2px; border-radius: 4px;}
/*******************************************e s t i l o s   d e    h e a d e r  ***********************************************/
.btn-tel{float:right; color: #777; border: solid 1px #00de46; border-radius: 5px; padding: 3px 10px; margin: 9px 35px 10px 0px;}
.btn-tel:hover {color: #777;}
.imgcompara{width: 130px; margin: 5px 0px 0px 13px}
/********************************** *ESTILOS DE MIGO *****************************************/
.tabtit{background: #ff1c4a; color: white;}
#migo td{color: #ff1c4a;}
/***************************************ESTILOS DE GRACIAS  2  0  2  0   *********************************************/
/*.card {margin-bottom: 10px;box-shadow: 0px 7px 15px 0px rgba(1, 5, 9, 0.1);}*/
.card-header{color: white;}
.axaimg{width: 120px;}
.starthanks {font-size: 28px;}
.comparacolor{color:#04de66;}
.ficha{border:solid 2px #00de46 !important; }
.compra{background: #00de46; color: white;}
.compra:hover { color: white;}
.compra2{background: rgba(0, 0, 0, .125); color: #6c757d;}

.pricing .card {border: none;transition: all 0.2s;box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);}
.pricing hr {margin: 1.5rem 0;}
.pricing .card-title {margin: 0.5rem 0;font-size: 0.9rem;letter-spacing: .1rem;font-weight: bold;}
.pricing .card-price {font-size: 30px;margin-bottom: 10px;margin-top: 10px;}
.pricing .card-price .period {font-size: 0.8rem;}
.pricing ul li {margin-bottom: 1rem;}
.pricing .text-muted {opacity: 0.7;}
.pricing .card:hover {margin-top: -.25rem;margin-bottom: .25rem; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);}
.t-a{color: #284460;}
.carga {margin-top: 30%;}
.precio {font-size:30px;margin-bottom:5px; color:#00de46;font-weight: 700;}

.telbtn{ font-size: 30px;}
.itel{width: 25px; margin-top: 0px; margin-right: 5px;}
.modal-asesoria{width: 70%;margin: auto;}
.precio2{font-size:30px; margin-bottom:5px;}
.img-modal {width: 150px; margin: 0 auto !important; margin-bottom: -20px !important;}
.numas{color: #04de46; font-weight: 700;}
.btn-verde {background: #04de46; color: white;}
.btn-verde:hover {background: #079748;color: white; }
tr {font-size: 14px;}
.amarillo-thank{color: #dd9c2298;}
/*ESTILOS GRACIAS INTERIORES*/
.b-llamarint{background: #0651a2; color: white;display: inline-flex; margin-left: 0px;}
.b-recibirinter{background: #89c700; color: white;display: inline-flex;}
.b-recibirinter:hover{ color: white;}

.comprar{padding: 0px 15px; margin: auto 0;}
.com{color: white;}
.linea{color: white;}

@media (min-width: 1740px){
  .icon-i{width: 35%;}
}

@media(min-width: 992px) and (max-width: 1105px){
  .bg{background-size: contain;background-position: 0px 0px;}
  .tpromo {font-size: 30px;}
  .tdesc{font-size: 26px;}
  .beneficios{margin-top: -80px;background: #f4f4f4;}
  .textm2 {font-size: 28px;}
  .marg-arriba {margin-top: 10px;}
  .globo{margin-top: 40px;}
  .monocirc {height: 200px;}
  .fig1 {width: 295px;}
  .fichabtn{margin-left: 0px;}


  .azul-aba{height: 170px;}
  .blanco{height: 170px;}
  .tprincipal{font-size: 35px;}
  .llamar{font-size: 14px;}
  .grat{font-size: 14px;}
  .com{font-size: 14px;}
  .linea{font-size: 14px;}
  .comprar{padding: 0 5px;}
  .car-1 {background-position: -97px -3px;width: 65px; height: 49px;background-size: 505px;}
  .b-amaseg{display: inline-flex; padding: 0px 15px; margin-left: 0px;}
  .b-veraseg{ display: inline-flex; padding: 0px 8px;margin-left:0px; }
  .b-comprarinter {display: inline-flex;padding: 0px 10px;}
}
@media(min-width:801px) and (max-width:991px){
  .bg{background-position: 0px 0px;}
  .textm2 {font-size: 26px;}
  .marg-arriba{margin-top:10px;}
  .tpromo {font-size: 23px;}
  .tdesc{font-size: 20px; margin: 0 70px;}
  .tprin {font-size: 25px;}
  .beneficios {margin-top: -110px;}
  .globo{margin-top: 100px;}
  .monocirc {height: 165px;}
  .fig1 {width: 390px;}
  .fichabtn{margin-left: 20px;}

  /*********************ESTILOS DE GENERICA*********************/
  /*.ifondo {background-position-x: -245px;}*/
  .recom{margin-top:0rem;}
  .car-1 {background-position: -97px -3px;width: 65px; height: 49px;background-size: 505px;}

  /**********************  ESTILOS   DE INTERNAS   ***********************/
  .tprincipal{font-size: 22px;}
  .tprincipal2 {font-size: 15px;}
  .icon-i {height: 100px; width: 100%; margin-top: -20px;}
  .azul-aba, .v-afirme, .az-aig,.c-ana,.c-atlas, .c-axa, .c-aguila, .c-potosi, .c-general,.c-gnp, .c-hdi, .c-latino, .c-mapfre,
  .c-miituo, .c-multiva, .c-pseguros, .c-qualitas, .c-banorte, .c-inbursa, .c-sura, .c-bxmas, .c-zurich {height: 230px;}
  .blanco{height: 230px;}
  .cal{display: block;font-size: 22px; margin-top: 0px;margin-bottom: -10px;}
  .rev {font-size: 15px;}
  .styleratestar {font-size: 22px; color:#fedb64; margin-bottom: 0;}
  .call-to-action {background-position-y: -7rem;}
  /**************************** ESTILOS DE GRACIAS   2  0  2  0   ********************************/
  .titlethanks{font-size: 21px;}
  .llamar{font-size: 16px;}
  .grat{font-size: 16px;}
  /*********************  F O R M U L A R I O   *********************/
  .btncotiza{font-size: 17px;}
  .moviletext{font-size: 13px;margin-top: 10px;}
  .custominput{margin-bottom: 7px;}
  /******************************************  C O T I Z A C I O N  *******************************************************/
  .encabezado{ font-size:15px;}
  /*********************************  LISTA   A S E G U R A D O R A S   ******************************************************/
  .imgstylet{height: 20px;}
  /********************************************** E S T I L O S   D E    H E A D E R ********************************************************/
  .btn-tel{float:right; color: #777; border: solid 1px #00de46; border-radius: 5px; padding: 3px 10px; margin: 12px 0px 10px 0px; font-size: 14px;}
}
@media(min-width:768px) and (max-width:800px){
  .labelPromo {
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
    border-radius: 10px;
    padding: 0px 12px;
  }
  .descuentosPromo {
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: .75rem;
      margin-bottom: 0;
      padding: 0.8rem 0rem;
      border-radius: 5px;
  }
  .msiPromo {
      font-weight: bold;
      font-size: .9rem;
      text-align: center;
      display: block;
      line-height: 1;
  }
  .labelendPromo {
      font-weight: 500;
      font-size: 0.6rem;
      text-align: center;
      display: block;
      text-transform: uppercase;
  }
  .bg{background-position: 0px 0px;}
  .textm2, .textm2b {font-size: 25px;}
  .marg-arriba{margin-top:0px;}
  .tpromo {font-size: 23px;}
  .tdesc{font-size: 20px; }
  .tprin {font-size: 25px;}
  .beneficios {margin-top: 0px;}
  .globo{margin-top: 10px;}
  .fig1{width: 70%; margin-top: -25px;}
  .tprincot {font-size: 22px;}
  .espacio-arr{padding-top: 10px;}
  .monocirc {height: 145px;width: auto;}
  .fichabtn{margin-left: 20px;}



  /*************************ESTILOS DE LA NUEVA VISTA*****************************/
  /*.ifondo{background-image: url(/static/img/itab.png);    background-position-x: 0px; background-position-y: -1px;}*/
  .tp{font-size: 1.3rem;text-align: center;}
  .obten{font-size: 1.3rem;margin-left: 0px;margin-top:20px}
  .recuadro{margin:0vh;}
  .imgl{padding-left: 0;}
  .fuente-aseg {font-size: 5vh;  }
  /*.fuenteaseg{font-size: 24px; margin-top: 0px;}*/
  .call-to-action {background-position-y: -5rem;}
  .tpcot{font-size: 1.3rem; }
  .recom{margin-top:0rem;}
  .t-recom{font-size: 15px;}
  .icarro{margin-top: 55px;}
  .mancha{background-position-y: -295px;}
  .cta {width: 100%;}
  .car-1 {background-position: -97px -3px;width: 65px; height: 49px;background-size: 505px;}
  /********ESTILOS DE INTERNOS********/
  .carro{width: 60px;}
  .tprincipal{font-size: 25px;}
  .tprincipal2 {font-size: 18px;}
  .azul-aba, .v-afirme, .az-aig,.c-ana,.c-atlas, .c-axa, .c-aguila, .c-potosi, .c-general,.c-gnp, .c-hdi, .c-latino, .c-mapfre,
  .c-miituo, .c-multiva, .c-pseguros, .c-qualitas, .c-banorte, .c-inbursa, .c-sura, .c-bxmas, .c-zurich {height: 200px;}
  .icon-i {height: auto; width: 100%; max-width: 80%;}
  .blanco {height: 200px;}
  .cal{display: block; font-size: 22px; margin-bottom: -10px;}
  .rev {font-size: 18px;}
  .styleratestar { font-size: 20px; color:#fedb64; margin-bottom: 0;}
  /********************************************* estilos INDEX 2020*******************************************************/
  .ben, .borde-tit, .borde-afirme, .borde-aig, .borde-ana, .borde-atlas, .borde-axa, .borde-aguila, .borde-potosi, 
  .borde-gen, .borde-hdi, .borde-latino, .borde-mapfre, .borde-migo, .borde-miituo, .borde-mul, .borde-prim,
  .borde-qua, .borde-ban, .borde-inb, .borde-sura, .borde-bxm, .borde-zur{font-size: 25px;}
  /*+++++++++++++++++++++++ESTILOS DE GRACIAS    2  0  2  0   ++++++++++++++++++++++++*/
  .titlethanks{font-size: 21px;}
  .b-amaseg{display: inline-flex; padding: 0px 15px; margin-left: 0px;}
  .b-veraseg{ display: inline-flex; padding: 0px 10px;margin-left:0px; }
  .b-comprarinter {display: inline-flex;padding: 0px 22px;}
  .llamar{font-size: 16px;}
  .grat{font-size: 16px;}
  /************************************ FORMULARIO  **************************************/
  .btncotiza{font-size: 17px;}
  .moviletext{font-size: 14px;margin-top: 10px;text-align: left;}
  .custominputg{padding: 0px 0;}
  .custominput{/*margin-bottom: 7px;*/height: 2.5rem;}
  a.form-e, div.form-e{font-size: 20px;}
  /********************************************  E S T I L O S   D E   H E A D E R  *************************************************/
  .btn-tel{float:right; color: #777; border: solid 1px #00de46; border-radius: 5px; padding: 3px 10px; margin: 12px 3px 10px 0px; font-size: 14px;}
}
@media(min-width:426px) and (max-width:767px){
  .logocompa{background-position: -690px -50px;width: 80px;height: 69px;display: inline-block;background-repeat: no-repeat;} 
  .logocompagra{background-position: -1235px -90px;width: 130px;height: 82px;display: inline-block;background-repeat: no-repeat;background-size: 1520px;margin: 15px;}
  .logocolor {background-image: url(/seguros-para-motos/img/sprite-elem.svg);    background-position: -3px -3px;width: 134px;height: 32px;display: inline-block;background-repeat: no-repeat;background-size: 450px;}
  .fichabtn{margin-left: 15px;}


  .bg-motos{background-position: 0px 0px;}
  .marg-arriba {margin-top: 0px;}
  .tpromo {color: #284460;font-weight: bold;font-size: 25px;text-align: center;}
  .tprincot{font-size: 20px;}
  .mod-a {margin: 10px auto;font-size: 22px;}
  .espacio-arr{padding-top: 10px;}
  .moviletext {text-align: center;}
  .print{color: white!important;}
  .textm2,.textm2b { font-size: 20px; margin-bottom: 0;}
  .monocirc {height: 160px;}


  .img-aseg {width: 125px;float: none;margin: 0px 10px;}
  .tpromo {color: #284460;font-weight: bold;font-size: 18px;text-align: center;line-height: initial;}
  .tdesc {color: #284460;font-size: 16px;text-align: center;font-weight: bold;}
  .fprom{padding: 10px 40px;}

  .btn-telef {margin: 10px 0px 10px 0px;border: solid 1px #a6adb5;}
  .tprin {font-size: 20px;}
  .beneficios {margin-top: 0px; margin-bottom: 20px;}

  /*********************estilos de  nueva vista***********************/
  .tpcot{font-size: 1.5rem; text-align: center;}
  .recom{margin-top:0rem;}
  .fuente-aseg {font-size: 3vh;  }
  .cta {width: 100%;}
  /*********************ESTILOS DE INTERIORES **************************/
  .tprincipal{font-size: 22px;}
  .tprincipal2 {font-size: 15px;}

  .bordes {border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
  .bordes2 {border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
  .icon-i {width: 100%;}
  .cal{display: block;}
  .rev {font-size: 14px;}
  .borde-tit{font-size: 25px;}
  /*****************************************ESTILOS DE TRESELEMENTOS*****************************************************/
  .margen-t{margin-top: 0px}
  .iconCompara{width: 58px;}
  /*.text-white{font-size: 12px;}*/
  .iconCompara2{width: 58px;}/******************* ESTILOS NUEVOS **********************/
  /****************************************ESTILO DE GRACIAS  2  0  2  0   ***************************************/
  .llamar{font-size: 18px;}
  .grat{font-size: 18px;}
  .b-llamarint, .b-recibirinter,.b-comprarinter  {width: 100%; margin-left: 0;}
  /*****************************************  F O R M U L A R I O  **********************************************/
  .textform{margin-top: -5px;}
  .btncotiza{background-color: #04de66;border: none;font-weight: 700;margin-top: 0px;font-size: 15px;}
  .moviletext{text-align: left;width: 14em}
  /*************************************************  H E A D E R  ********************************************************/
  .btn-tel{float:right; color: #777; border: solid 1px #00de46; border-radius: 5px; padding: 3px 10px; margin: 12px 0px 10px 0px; font-size: 14px;}
  .imgcompara {width: 130px; margin: 0px 0px 0px -24px;}
}
@media(min-width:376px) and (max-width:425px){
  .labelPromo {
        position: absolute;
        top: -10px;
        left: -10px;
        color: #fff;
        border-radius: 10px;
        padding: 0px 12px;
    }
    .descuentosPromo {
        color: #fff;
        text-align: center;
        font-weight: bold;
        font-size: .9rem;
        margin-bottom: 0;
        padding: 0.8rem 0.1rem;
        border-radius: 5px;
    }
    .msiPromo {
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        display: block;
        line-height: 1;
    }
    .labelendPromo {
        font-weight: 500;
        font-size: 0.8rem;
        text-align: center;
        display: block;
        text-transform: uppercase;
    }


  .logocompa{background-position: -191px -59px;width: 75px;height: 60px;display: inline-block;background-repeat: no-repeat;}
  .logocompagra{background-position:-282px -90px;width: 105px;height: 65px;display: inline-block;background-repeat: no-repeat;background-size: 620px;}
  .logocolor {background-image: url(/seguros-para-motos/img/sprite-elem.svg);    background-position: -3px -3px;width: 134px;height: 32px;display: inline-block;background-repeat: no-repeat;background-size: 450px;}
  .bg-motos{background-position: 0px 0px;}
  .marg-arriba {margin-top: 0px;}
  .mod-a {margin: 10px auto;font-size: 22px;}
  .print{color: white!important;}
  .b-amaseg{display: inline-flex; padding: 0px 28px; margin-left: 0px;}
  .b-veraseg{ display: inline-flex; padding: 0px 24px;margin-left:0px; margin-top: 10px;}
  .espacio-arr{padding-top: 10px;}
  .moviletext {text-align: center;}
  .textm2,.textm2b {text-align: center; font-size: 15px; margin-bottom: 0;}
  .espacio-izq{padding-left: 0;}
  .monocirc {height: 120px;}
  .text-recom {display: inline-flex;margin: 2px 0px;}
  .t-recom{font-size: 14px;}
  .migo2{width: 67px;}
  .img-aseg {width: 120px;float: none;margin: 0px 0px;}
  .tpromo {color: #284460;font-weight: bold;font-size: 18px;text-align: center;line-height: initial;}
  .tdesc {color: #284460;font-size: 14px;text-align: center;font-weight: bold;}
  .fprom{padding: 10px 20px;}
  .fichabtn{margin-left: 10px;}
  .btn-telef {margin: 10px 0px 10px 0px;border: solid 1px #a6adb5;}
  .tprincot {font-size: 20px;}
  .tprin {font-size: 20px;}
  .beneficios {margin-top: 0px; margin-bottom: 20px;}


  /*ESTILOS DE NUEVA VISTA************************************/
  .tp{font-size: 1.4rem;text-align: center; margin-top: 1rem;}
  .recuadro{margin:5px 0px;}
  .fuente{font-size: 25px;}
  .m-t{margin-top: 2vh;}
  .borde2{margin-top: -5vh;} 
  .call-to-action {    background-position-y: 0rem; padding-top: 2rem; padding-bottom: 2rem; /*height: 100px; /*padding-top: 3rem;padding-bottom: 3rem;*/}
  .imgl{padding: 0;}
  .tpcot{font-size: 1.2rem; text-align: center;}
  .recom{margin-top:0rem;}
  .borde-tit{font-size: 25px;}
  .fuente-aseg {font-size: 5vh;  }
  .cta {width: 100%;}

  /**********************  ESTILOS   DE INTERNAS   ***********************/
  .tprincipal{font-size: 22px;text-align: center;}
  .tprincipal2 {font-size: 15px;}
  .bordes {border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
  .bordes2 {border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
  .icon-i {height: 60px; max-width: 80%; margin-top: 5px;}
  .cal{display: block; font-size: 28px;margin-bottom: -10px;margin-top: -12px; }
  .rev {font-size: 16px;}
  .styleratestar {font-size: 20px; color:#fedb64; margin-bottom: 0;}
  .fuente2{font-size: 4vh;}
  /*****************************************ESTILOS DE TRESELEMENTOS*****************************************************/
  .margen-t{margin-top: 0px}
  .iconCompara{width: 58px;}
  .text-white{font-size: 12px;}
  .iconCompara2{width: 58px;}/******************* ESTILOS NUEVOS **********************/
  /*************************************** ESTILOS DE GRACIAS  2  0  2  0   *******************************************/
  .texto-a{font-size: 13px;}
  .titlethanks{font-size: 22px;}
  .llamar{font-size: 16px;}
  .grat, .com, .linea{font-size: 16px;}
  .comprar{padding: 0 5px;}
  .b-llamarint{width: 100%; margin-top: 5px;}
  .b-recibirinter{width: 100%; margin-left:0px; margin-top: 5px;}
  .b-comprarinter  {width: 100%; margin-left: 0px; margin-top: 5px;}
  /*******************************  FORMULARIO  ************************************/
  .btncotiza{padding: 7px 0px; font-size: 18px; margin-top: 5px;}
  .mtmovile{margin-top: 0rem;}
  /********************************************  H E A D E R  *******************************************/
  .btn-tel{float:right; color: #777; border: solid 1px #00de46; border-radius: 5px; padding: 3px 10px; margin: 12px 0px 10px 0px; font-size: 14px;}
  .imgcompara {width: 130px; margin: 0px 0px 0px 0px;}
}
@media(min-width:321px) and (max-width:375px){
    .labelPromo {
      position: absolute;
      top: -10px;
      left: -10px;
      color: #fff;
      border-radius: 10px;
      padding: 0px 12px;
  }
  .descuentosPromo {
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: .7rem;
      margin-bottom: 0;
      padding: 0.7rem 0.1rem;
      border-radius: 5px;
      line-height: 1;
  }
  .msiPromo {
      font-weight: bold;
      font-size: .8rem;
      text-align: center;
      display: block;
      line-height: 1.4;
  }
  .labelendPromo {
      font-weight: 500;
      font-size: 0.7rem;
      text-align: center;
      display: block;
      text-transform: uppercase;
  }
  .logocompa{background-position:-191px -59px;width: 77px;height: 69px;display: inline-block;background-repeat: no-repeat;}
  .logocompagra{background-position:-282px -90px;width: 105px;height: 65px;display: inline-block;background-repeat: no-repeat;background-size: 620px;}
  .logocolor {background-image: url(/static/img/sprite-elem.svg);    background-position: -3px -3px;width: 134px;height: 32px;display: inline-block;background-repeat: no-repeat;background-size: 450px;}
  .bg-motos{background-position: 0px 0px;}
  .marg-arriba {margin-top: 0px;}
  .mod-a {margin: 10px auto;font-size: 20px;}
  .tpromo {color: #284460; font-size: 22px;text-align: center;}
  .espacio-arr{padding-top: 10px;}
  .moviletext {text-align: center;}
  .print{color: white!important;}
  .textm2,.textm2b {text-align: center; font-size: 22px; margin-bottom: 0;}
  .espacio-izq{padding-left: 0;}
  .monocirc {height: 110px;}
  .migo2{width: 75px;}
  .t-recom{font-size: 17px;}
  .text-recom{margin: 2px 0px;}
  .fichabtn{margin-left: 10px;}
  .img-aseg {width: 115px;float: none;margin: 0px 0px;}
  .tpromo {color: #284460;font-weight: bold;font-size: 15px;text-align: center;line-height: initial;}
  .tdesc {color: #284460;font-size: 12px;text-align: center;font-weight: bold;}
  .fprom{padding: 10px 12px;}

  .btn-telef {margin: 10px 0px 10px 0px;border: solid 1px #a6adb5;}
  .tprincot {font-size: 18px;margin-top: 10px;}
  .tprin {font-size: 20px;}
  .beneficios {margin-top: 0px; margin-bottom: 20px;}



  /* DE LA NUEVA VISTA DEL INDEX*/
  .tp{font-size: 1.4rem;text-align: center; margin-top: 1rem;}
  .recuadro{margin:5px 0px;}
  .fuente{font-size: 25px;}
  .m-t{margin-top: 2vh;}
  .borde2{margin-top: -4vh;}
  /*.call-to-action {background-color: #343a40;background: url("/static/img/pasajeros.jpg") no-repeat center center;background-size: cover;/*height: 150px; /*padding-top: 3rem;padding-bottom: 3rem;}*/
  .call-to-action .overlay {position: absolute;height: 100%;width: 100%;top: 0;left: 0;}
  .imgl{padding: 0;}
  .fuente2{font-size: 3.5vh;}
  .tpcot{font-size: 1.2rem; text-align: center;}
  .recom{margin-top:0rem;}
  /*.masthead {position: relative;background-color: #343a40;background: url("/static/img/pasajeros.jpg") no-repeat center;background-size: cover;    height: 100%;}*/
  .masthead .overlay {position: absolute;height: 100%;width: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.6) /*background:linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(14, 74, 42, 0.7) 70%)*/;}
  .borde-tit{font-size: 23px;}
  .fuente-aseg {font-size: 4.5vh;  }
  .cta {width: 100%;}

  /**********************  ESTILOS   DE INTERNAS   ***********************/
  .tprincipal{font-size: 20px; text-align: center;}
  .tprincipal2 {font-size: 15px;}
  .bordes {border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
  .bordes2 {border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
  .icon-i {height: 70px; max-width: 80%; margin-top: 0;}
  .cal{ display: block; margin-bottom: -10px;}
  .rev {font-size: 14px;}
  .styleratestar {font-size: 21px; color:#fedb64; margin-bottom: 0;}
  .stylerate{font-size: 18px;margin-top: -3px/*18px*/;margin-bottom: -8px;}
  /*****************************************ESTILOS DE TRESELEMENTOS*****************************************************/
  .margen-t{margin-top: 0px}
  .iconCompara{width: 58px;}
  .text-white{font-size: 12px;}
  .iconCompara2{width: 58px;}/******************* ESTILOS NUEVOS **********************/
  /*****************************ESTILOS DE GRACIAS   2  0  2  0    *****************************************/
  .imgaseg{width: 100px;}
  .review{font-size: 16px;}
  .starthanks{font-size: 25px;}
  .titlethanks{font-size: 16px;}
  .texto-a{font-size: 13px;} 
  .textcotiza{font-size: 15px;}
  .b-amaseg{display: inline-flex; padding: 0px 20px; margin-left: 0px;}
  .b-veraseg{ display: inline-flex; padding: 0px 15px;margin-left:0px; margin-top: 10px;}
  .llamar{font-size: 14px;}
  .grat{font-size: 16px;}
  .b-llamarint{width: 100%; margin-top: 5px;}
  .b-recibirinter{width: 100%; margin-left:0px; margin-top: 5px;}
  .b-comprarinter  {width: 100%; margin-left: 0px; margin-top: 10px;padding: 0px 25px;}
  .com{font-size: 14px;}
  .comprar{padding: 0 0;}
  .linea{font-size: 16px;}
  /***********************************  F O R M U L A R I O   ******************************************/
  .btncotiza{margin-top: 2px;font-size: 20px; padding: 6px 0px;}
  .custominput{/*padding-left: 0;*/padding-right: 0;font-size: 13px;}
  .mtmovile{margin-top: 0rem;}
  .mt10{margin-top: 0px;}
  /***************************************  H E A D E R  **********************************************/
  .btn-tel{float:right; color: #777; border: solid 1px #00de46; border-radius: 5px; padding: 3px 10px; margin: 12px 0px 10px 0px; font-size: 14px;}
  .imgcompara {width: 130px; margin: 0px 0px 0px 0px;}
}
@media(min-width:240px) and (max-width:320px){
  /*DESCUENTOS*/
  .contenedorPromo {
    padding: 0px;
}
.labelPromo {
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
    border-radius: 10px;
    padding: 0px 12px;
}
.descuentosPromo {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: .7rem;
    margin-bottom: 0;
    padding: 0.7rem 0.1rem;
    border-radius: 5px;
    line-height: 1;
}
.msiPromo {
    font-weight: bold;
    font-size: .7rem;
    text-align: center;
    display: block;
    line-height: 1;
}
.labelendPromo {
    font-weight: 500;
    font-size: .6rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
  .logocompa{background-position: -191px -59px;width: 78px;height: 69px;display: inline-block;background-repeat: no-repeat;}
  .logocompagra{background-position:-282px -90px;width: 105px;height: 65px;display: inline-block;background-repeat: no-repeat;background-size: 620px;}
  .logocolor {background-image: url(/static/img/sprite-elem.svg);    background-position: -3px -3px;width: 114px;height: 32px;display: inline-block;background-repeat: no-repeat;background-size: 380px;}
  .bg-motos{background-position: 0px 0px;}
  .marg-arriba {margin-top: 0px;}
  .tprincot {font-size: 15px;margin-top: 10px;}
  .mod-a {margin: 10px auto;font-size: 18px;}
  .tpromo {color: #284460;font-weight: bold;font-size: 18px;text-align: center;}
  .espacio-arr{padding-top: 10px;}
  .moviletext {text-align: center;}
  .print{color: white!important;}
  .textm2,.textm2b {text-align: center; font-size: 20px; margin-bottom: 0;}
  .espacio-izq{padding-left: 0;}
  .monocirc {height: 95px;}
  .migo2{width: 108px;}
  .t-recom{font-size: 15px;}
  .text-recom{margin: 2px 0px;}
  .fichabtn{margin-left: 10px;}

  .img-aseg {width: 95px;float: none;margin: 0px 0px;}
  .tpromo {color: #284460;font-weight: bold;font-size: 14px;text-align: center;line-height: initial;}
  .tdesc {color: #284460;font-size: 10px;text-align: center;font-weight: bold;}
  .fprom{padding: 10px 4px;}


  .btn-telef {margin: 10px 0px 10px 0px;border: solid 1px #a6adb5;}
  .tprin {font-size: 20px;}
  .beneficios {margin-top: 0px; margin-bottom: 20px;}
  .text-peq{font-size: 13px; margin-bottom: 0;}



  /*************************estilos solo en el index con NUEVA VISTA*****************************/
  .tp{font-size: 1.3rem;text-align: center; margin-top: 1rem;}
  .recuadro{margin:5px 0px;}
  .fuente{font-size: 25px;}
  .m-t{margin-top: 2vh;}
  .borde2{margin-top: -3vh;}
  .call-to-action {    background-position-y: 0rem; /*height: 100px; /*padding-top: 3rem;padding-bottom: 3rem;*/}
  .fuente2{font-size: 18px;}
  .tpcot{font-size: 1.5rem; text-align: center;}
  .recom{margin-top:0rem;}
  .borde-tit{font-size: 22px;}
  .fuente-aseg {font-size: 5vh;  }
  .cta {width: 100%;}

  /**********************  ESTILOS   DE INTERNAS   ***********************/
  .tprincipal{font-size: 1rem; text-align: center;}
  .tprincipal2 {font-size: 15px;}
  .bordes {border-top-left-radius: 0px; border-bottom-left-radius: 0px;}
  .bordes2 {border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
  .icon-i {height: 80px; max-width: 100%; margin-top: 0px;}
  .cal{ display: block;margin-bottom: -12px;}
  .rev {font-size: 14px;}
  .styleratestar {font-size: 18px; color:#fedb64; margin-bottom: 0;}
  .stylerate{font-size: 18px;margin-top: 0px/*28px*/;margin-bottom: -8px;}
  .imgl{padding: 0;}
  /*****************************************ESTILOS DE TRESELEMENTOS*****************************************************/
  .margen-t{margin-top: 0px}
  .iconCompara{width: 58px;}
  .text-white{font-size: 12px;} 
  .iconCompara2{width: 58px;}/******************* ESTILOS NUEVOS **********************/ 
  /*******************************ESTILOS DE GRACIAS   2  0  2  0   **********************************/
  .imgaseg{width: 100px;}
  .review{font-size: 16px;}
  .starthanks{font-size: 25px;}
  .titlethanks{font-size: 16px;}
  .texto-a{font-size: 13px;}
  .textcotiza{font-size: 15px;}
  .b-amaseg{display: inline-flex; padding: 0px 10px; margin-left: 0px;}
  .b-veraseg{ display: inline-flex; padding: 0px 8px;margin-left:0px; margin-top: 10px;}
  .llamar{font-size: 12px;}
  .grat{font-size: 14px;}
  .precio { font-size:25px;}
  .precio2 {font-size: 25px;}
  .compra {font-size: 14px;}
  .compra2 {font-size: 14px;}
  .table { margin-left: -23px;}
  .medalla2{width: 40px;}
  .b-llamarint{width: 100%; margin-top: 5px; padding: 0;}
  .b-recibirinter{width: 100%; margin-left:0px; margin-top: 5px;padding: 0;}
  .b-comprarinter  {width: 100%; margin-left: 0px; margin-top:10px;padding: 0px 16px;}
  .com{font-size: 12px;}
  .comprar{padding: 0 0;}
  .linea{font-size: 14px;}
  /************************************* FORMULARIO ***********************************************/
  .btncotiza{margin-top: 5px;font-size: 16px; padding: 12px 0px;}
  .custominput{margin-bottom: 0px;/*padding-left: 0;*/padding-right: 0;font-size: 13px;}
  .mtmovile{margin-top: 0rem;}
  .mt10{margin-top: 0px;}

  /*******************************************  H E A D E R  **************************************************/
  .btn-tel{float:right; color: #777; border: solid 1px #00de46; border-radius: 5px; padding: 3px 10px; margin: 12px 0px 10px 0px; font-size: 14px;}
  .imgcompara {width: 130px; margin: 0px 0px 0px 0px;}
}
/*FIN MEDIA*/
.form-control::placeholder {color: #284866 !important; opacity: 1;}
#boton-arriba{display: none !important;}
.form-floating{position:relative}
.form-floating>.form-control,.form-floating>.form-select{line-height:1.25}
.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
@media (prefers-reduced-motion:reduce)
{.form-floating>label{transition:none}}
.form-floating>.form-control{padding:1rem .75rem}
.form-floating>.form-control::-moz-placeholder{color:transparent}
.form-floating>.form-control::placeholder{color:transparent}
.form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-control:focus,.form-floating>.form-control:not(:placeholder-shown){padding-top:24px;padding-bottom:.625rem}.form-floating>.form-control:-webkit-autofill{padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-select{padding-top:1.625rem;padding-bottom:.625rem}.form-floating>.form-control:not(:-moz-placeholder-shown)~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:-webkit-autofill~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
