<template>
  <div class="container-fluid px-0" id="gnp">
    <div class="row mt-4">
      <div class="text-center mx-auto">
        <div id="tooltip">
                <span class="mb-0 text-white text-center">Un ejecutivo se pondrá en contacto
                    contigo.</span>
            </div>
        <a
          id="btnTrackingTelefono"
          v-on:click="show = !show"
          class="d-inline-bloc btn btn-block b-radius fw-bold p-0 m-0 "
          target="_blank"
          rel="nofollow"
          role="button"
          @click="saveInteraccion()"
          v-bind:class="{
            disabled: this.$store.state.config.btnEmisionDisabled,
          }"
          :disabled="this.$store.state.config.btnEmisionDisabled"
          v-if="$store.state.config.emision === true"
        >
          <img
            src="/seguros-para-motos/img/btn_interaccion.svg"
            alt="btn"
            class="btn-ecomerce img-fluid"
            width="260"
            height="60"
          />
        </a>
      </div>
      <div class="text-center mx-auto" style="display: flex; flex-direction: column-reverse;">
        <a
          id="btnTrackingEcommerce"
          class="btn btn-block b-radius p-0 m-0 fw-bold "
          target="_blank"
          rel="nofollow"
          role="button"
          @click="conectarEmision()"
          v-bind:class="{
            disabled: this.$store.state.config.btnEmisionDisabled,
          }"
          :disabled="this.$store.state.config.btnEmisionDisabled"
          v-if="$store.state.config.emision === true"
        >
          <img
            src="/seguros-para-motos/img/btn_ecommerce.svg"
            alt="btn"
            class="btn-ecomerce img-fluid"
            width="260"
            height="60"
          />
        </a>
      </div>


    </div>
    <div class="border-0">
      <div class="card-body">
        <div class="row justify-content-center bg-white"></div>
      </div>
    </div>
  </div>
</template>

<script>
import wsNuevoLeadInteraccion from "~/plugins/wsNuevoLeadInteraccion";
import wsNuevoLeadEmision from "~/plugins/wsNuevoLeadEmision";
export default {
  methods: {
    conectarEmision() {
      if (!this.$store.state.config.habilitarBtnEmision) {
        this.$store.state.config.btnEmisionDisabled = true;
        var jsonEcomerseEmision = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
            this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionEcommerce,
          idEstadoCotizacion: 6, //segun Fredo
          idTipoContacto: 6, //segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        wsNuevoLeadEmision
          .newLeadEm(
            JSON.stringify(jsonEcomerseEmision),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            if (resp.data.data !== undefined) {
              resp = resp.data.data;
            } else {
              resp = resp.data;
            }
            //Conexion a motor de pago online
            let peticion =
              resp.idSolicitudes +
              "|" +
              resp.idCotizacionesAli +
              "|" +
              resp.idCotizaciones +
              "|" +
              resp.idProductoSolicitud +
              "|" +
              resp.idProspecto +
              "|" +
              process.env.sitio;

            if (
              resp.idSolicitudes != 0 &&
              resp.idCotizacionesAli != 0 &&
              resp.idCotizaciones != 0 &&
              resp.idProductoSolicitud != 0 &&
              this.$store.state.formData.precio > 1000
            ) {
              let x = Buffer.from(JSON.stringify(peticion)).toString("base64");
              x = x.replace('"', "");
              window.open(process.env.motorCobro + "/?id=" + x, "_self");
            }
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.conectarEmision();
                })
                .catch((error) => {
                  this.$store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });
                });
            } else {
              this.$store.state.idEndPoint = 440;
              this.catchStatusAndMessage(error, jsonEcomerseEmision);
            }
          });
      }
    },
    saveInteraccion() {
      if (!this.$store.state.config.habilitarBtnInteraccion) {
        this.$store.state.config.btnEmisionDisabled = true;
        document.getElementById("tooltip").className = "d-block mx-auto";
        var jsonEcomerse = {
          idHubspot:this.$store.state.formData.idHubspot,
          msgSms: this.$store.state.config.textoSMS,
          isMailValid: this.$store.state.formData.emailValid,
          isTelefonoValid:
            this.$store.state.formData.telefonoValid === "FIJO" ||
            this.$store.state.formData.telefonoValid === "MOVIL"
              ? true
              : false,
          isCpValid: this.$store.state.formData.codigoPostalValid,
          idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
          idPagina: this.$store.state.config.idPagina,
          idMedioDifusion: this.$store.state.config.idMedioDifusionInteraccion,
          idEstadoCotizacion: 7, //por defectro segun Fredo
          idTipoContacto: 1, //por defectro segun Fredo
          peticion: JSON.stringify(
            this.$store.state.config.dataPeticionCotizacion
          ),
          respuesta: JSON.stringify(this.$store.state.cotizacion),
          idSubRamo: this.$store.state.config.idSubRamo,
        };
        wsNuevoLeadInteraccion
          .newLeadEm(
            JSON.stringify(jsonEcomerse),
            this.$store.state.config.accessToken
          )
          .then((resp) => {
            //Conexion a motor de pago online
            console.log("INTERACCION OK....");
          })
          .catch((error) => {
            var status = "ERR_CONNECTION_REFUSED";
            if (typeof error.status != "undefined") {
              status = error.status;
            } else if (typeof error.response != "undefined") {
              if (typeof error.response.status != "undefined") {
                status = error.response.status;
              }
            }
            if (status === 401) {
              this.dispatch("getToken")
                .then((resp) => {
                  if (typeof resp.data == "undefined") {
                    this.$store.state.config.accessToken = resp.accessToken;
                  } else if (typeof resp.data.accessToken != "undefined") {
                    this.$store.state.config.accessToken =
                      resp.data.accessToken;
                  }
                  this.saveInteraccion();
                })
                .catch((error) => {
                  this.$store.state.idEndPoint = 49;
                  this.catchStatusAndMessage(error, {
                    tokenData: dbService.tokenData,
                  });
                });
            } else {
              this.$store.state.idEndPoint = 442;
              this.catchStatusAndMessage(error, jsonEcomerse);
            }
          });
      }
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
  },
  components: {},
  filters: {
    showName: function (value) {
      return value.nombre;
    },
    showSuma: function (value) {
      var sumaAseg = value.sumaAsegurada;
      var regExp = /[123456789]/;
      var result = regExp.exec(sumaAseg);
      if (sumaAseg == 0 || sumaAseg == "") {
        sumaAseg = "No aplica";
      } else if (sumaAseg == 1) {
        sumaAseg = "AMPARADA";
      } else if (result != null) {
        //tiene numeros 1-9
        var regExp2 = /[a-zA-Z]/g;
        var result2 = regExp2.exec(sumaAseg);
        if (sumaAseg.includes("$") == false) {
          if (result2 != null) {
            //V. COMERCIAL50000
            sumaAseg =
              sumaAseg.substring(0, result.index) +
              " $ " +
              sumaAseg.substring(result.index, sumaAseg.length);
          } else {
            sumaAseg = "$ " + sumaAseg;
          }
        }
        if (sumaAseg.includes(".0") == true) {
          if (sumaAseg.includes(".00") == false) {
            sumaAseg = sumaAseg + "0";
          }
        } else {
          sumaAseg = sumaAseg + ".00";
        }
      }
      return sumaAseg;
    },
    showDeducible: function (value) {
      var deducible = value.deducible;
      var regExp = /[123456789]/;
      var result = regExp.exec(deducible);
      if (deducible == 0 || deducible == "" || deducible == "0%") {
        deducible = "No aplica";
      } else if (deducible.includes("$") == true) {
        if (deducible.includes(".0") == true) {
          if (deducible.includes(".00") == false) {
            deducible = deducible + "0";
          }
        } else {
          deducible = deducible + ".00";
        }
      } else if (result != null) {
        //tiene numeros 1-9
        if (deducible.includes("%") == false && deducible.length < 7) {
          deducible = deducible + " %";
        }
      }
      return deducible;
    },
  },
};
</script>
<style>
#tooltip {
    width: auto;
    max-width: 300px;
    display: none;
    background: #463C3C;
    border: 3px solid #463C3C;
    padding: 10px;
    position: relative;
    top: -15px;
    word-wrap: break-word;
    border-radius: 5px;
    margin-top: -54px;
    z-index: 2;
    color: white!important;
}
#tooltip:after {
    content:'';
  position:absolute;
  display:block;
  top:103%;
  left:45%;
  margin:0auto;
  width:0;
  height:0;
  border-color:#463C3C transparent transparent transparent;
  border-style:solid;
  border-width:15px;
}
</style>
