<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <!-- -->
    <a class="botonTop" :href="this.$store.state.formData.btn+'#formcotizar'">
      <div class="d-inline-flex">
        <p class="mb-0 text-white my-1">Cotizar ahora</p>
        <span class="f-sigb" style="color: #fff"> </span>
      </div>
    </a>
    <!-- -->
  </div>
</template>
<script>
export default {
   created: function () {
          this.$store.state.config.urlRedireccion = '';
        },
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (230 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
              let cadena =  window.location.href;
        let primero = cadena.search("#formcotizar")
        let separado;
        let cad2 = "";
        // se le quita el ultimo

        if (primero) {
          separado = cadena.substring(primero + 0, cadena.length).split("#formcotizar")
          separado.forEach(element => {
            cad2 += element.replaceAll("#formcotizar", "")
          });
        }
        cadena = cadena.substring(0, primero + 0) + cad2
        cadena = cadena.split(' ').join(' ').trim();

        this.$store.state.formData.btn = cadena;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style scoped>
.arrow {
    font-size: 40px;
}

.botonTop {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(250, 255, 255, 0.5);
    border: rgba(250, 255, 255, 0.5) solid 1px;
    border-radius: 10px;
    padding: 10px;
    z-index:2;
    background-color: #28a745;
    opacity: .7;
  }
.botonTop:hover {
    background-color: #28a745;
    color: white;
    opacity: 1;
}



</style>
