<template>
  <div>
   <div class="container-fluid footer">
    <div class="row">
      <div class="col-6 col-md-3 mb-2 text-center">
        <a href="https://comparaya.mx/" target="_blank">
          <span class="logocom  "></span>
        </a>
      </div>
      <div class="col-6 col-md-3 mb-2 text-center">
        <p class="sites mb-0 mt-md-2">Comparador</p>
        <a href="https://comparaya.mx/tarjeta-de-credito" target="_blank" class="link-ahorra pl-lg-1">Tarjetas de credito</a>
      </div>

      <div class="col-6 col-md-3 mb-2 text-center" itemtype="http://schema.org/Product" itemscope="">
        <meta itemprop="name" content="comparaya.mx">
          <a class="mb-0" href="https://comparaya.mx/opiniones-comparaya/" style="text-decoration:none;">
            <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
            <meta itemprop="reviewCount" content="55">
            <span itemprop="name" class="d-none">Review</span>
            <span class="color_star mt-2 mb-0 fsOp text-center" >
                <meta itemprop="ratingValue" content="5">
                <span class="styleratestar">
                    <i class="estrella"></i>
                    <i class="estrella"></i>
                    <i class="estrella"></i>
                    <i class="estrella"></i>
                    <i class="estrella"></i>

                </span>
            </span>
            <p class="text-center">55 OPINIONES</p>
            </span>
          </a>
      </div>
      <div class="col-6 g-s col-md-3  text-center">
        <p class="sites mb-0 mt-md-2">Group Sites</p>
        <a href="https://ahorraseguros.mx" target="_blank" class="link-ahorra pl-lg-1">Ahorra Seguros</a>
        <a href="https://onlineseguros.mx/" target="_blank" rel="nofollow" class="link-ahorra  d-inline-flex  pl-lg-3">Online Seguros</a>
      </div>
    </div>  
    <div class="row">
      <div class=" col-12">
        <p class="center text-f">© Copyright 2020 Comparaya.mx todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</div>
</template>
<style>
  .center{text-align: center;}
  .footer{background-color: white;font-size: 15px;padding-top: 1%;}
  .sites{font-size: 22px; color: #888888; text-align: center;}
  .link-ahorra{color: #888888; font-size: 15px;}
  .link-ahorra:hover {color: #888888;}

  @media (min-width: 769px) and (max-width: 1100px) {
  .footer{background-color: white;font-size: 10px;}
  .text-f {font-size: 12px;}
  }
  @media (min-width: 661px) and (max-width: 768px) {
  .footer{background-color: white;font-size: 10px;}
  .text-f{font-size: 13px;}
  }
  @media (min-width: 426px) and (max-width: 660px) {
  .footer {background-color: white;font-size: 8px;}
  .text-f {font-size: 10px;}
  .sites{text-align: center; font-size: 20px;}
  .link-ahorra{font-size: 13px;}
  .g-s{text-align: center;}

  }
  @media (min-width: 376px) and (max-width: 425px) {
  .footer {background-color: white;font-size: 8px;}
  .text-f {font-size: 10px;}
  .sites{text-align: center; font-size: 20px;}
  .link-ahorra{font-size: 13px;}
  .g-s{text-align: center;}

  }
  @media (min-width: 321px) and (max-width: 375px) {
  .footer{background-color: white;font-size: 8px;}
  .text-f{font-size: 10px;}
  .sites{text-align: center; font-size: 20px;}
  .link-ahorra{font-size: 13px;}
  .g-s{text-align: center;}

  }
  @media (min-width: 280px) and (max-width: 320px) {
  .footer {background-color: white;}
  .text-f {font-size: 10px;}
  .sites{text-align: center; font-size: 20px;}
  .link-ahorra{font-size: 13px;}
  .g-s{text-align: center;}
  }
  /*leo es genial */
  .imgcompita{max-width:180px;width:100%;display:block;margin:0 auto;}
  .fsOp{font-size:30px; color: gray;}
  .fstar{font-size: 20px;}
  .footer{padding-top:10px;}
</style>





