<template>
 <div>
  <div class="container-fluid px-0 py-md-2">
    <div class="row m-0">
      <div class="col-4 m-auto">
        <a href="https://comparaya.mx/seguros-de-autos/">
          <span class="logocompagra ml-lg-4"></span>
        </a>
      </div>

      

      <div class="col-3 offset-4">
        
      </div>
     
    </div>
  </div>
 </div>
</template> 

