<template>
  <div>
    <botonarriba-component />
    <!--<alerta-component />-->
    <nuxt/>
    <footer-component/>
  </div>
</template>
<script>
  import botonarribaComponent from '~/components/common/boton-arriba.vue' 
 //import alertaComponent from '~/components/alerta/alerta.vue' 

  import FooterComponent from '~/components/common/Footer.vue'
  export default {
    components: {
      botonarribaComponent,
    //  alertaComponent,
      FooterComponent
    }
  };
</script>
