 <template>
  <div>
    <!-- <cookies></cookies> -->
    <div class="container-fluid bg-motos">
      <header-component />
      <div class="row marg-arriba">
        <div class="col-12 col-md-5">
      
    <!--PROMO HOTSALE-->
    <div class="row contenedorPromo" >
            <div class="container-fluid p-0 m-0 adornosPromo" :style=" this.$store.state.config.promoSpecial
                ? 'border: 5px dotted #E30613'
                : 'border: 5px dotted #bababa'"> 
              <div class="row pt-3 pb-1 px-2">
                <div class="col-4 mt-2 mt-md-0">
                  <img src="img/aseguradoras-logo/color/motos.svg" alt="logo" class="img-fluid" width="185" height="74">
                </div>
                <div class="col-2 px-1 mt-2 mt-lg-0" v-if="this.$store.state.config.promoSpecial">
                  <img width="75" height="75" :src="this.$store.state.config.promoImg" alt="logo promocion" class="m-auto img-fluid"  v-if="this.$store.state.config.promoSpecial" >
                </div>
                <div class="position-relative" :class="this.$store.state.config.promoSpecial ? 'col-6' : 'col-8'">
                  <!-- Obtén y msi son estáticos, solo descuentosPromo y msiPromo son dinámicos -->
                  <small class="labelPromo">Obtén</small>
                  <p class="descuentosPromo" :style=" this.$store.state.config.promoSpecial
                ? 'background: #e30613'
                : 'background: #bababa'">Hasta {{$store.state.config.desc}}</p>
                  <small class="msiPromo mt-2">{{$store.state.config.msi}}  </small>
                  <small class="msiPromo">{{$store.state.config.extraMsg}}</small> 
                </div>
              </div>
            </div> 
          </div>

          <div class="d-none d-md-block text-center mt-5">

            <picture>
              <source srcset="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/moto-compara.png" type="image/png">
              <img src="https://prod-mx.sfo3.cdn.digitaloceanspaces.com/promos/ordinary/marcas-as/cy/moto-compara.png" alt="mono compara" class="fig1" >
            </picture> 
          </div>
          <div class="row d-none d-md-flex">
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="tarjeta1c"></span>
              <small class="tsmall">+ Promociones </small>
            </div>
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="etiq1c"></span>
              <small class=" tsmall">Ahorra hasta el 50%</small>
            </div>
            <div class="col-12 col-md-4 mb-lg-3 text-center">
              <span class="reloj1c"></span>
              <small class="tsmall">Compara en 10 segundos</small>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 px-0 px-md-4">
          <h1 class="tprin text-center">Cotiza tu Seguro para Motos</h1>
          <small class="text-center text-peq d-block text-muted">Ingresa los datos de tu moto para cotizar en segundos</small>
          <div class="col-12 col-lg-10 mx-auto">
            <motos-form-completo :config="this.$store.state.config"></motos-form-completo>
          </div>
        </div>
      </div>
       <!--VISTA DE CEL-->
      <div class="row  d-md-none py-3">
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="tarjeta1c"></span>
          <small class="">12 Meses Sin Intereses </small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="etiq1c"></span>
          <small class="">Ahorra hasta el 50%</small>
        </div>
        <div class="col-4 col-md-4 mb-lg-3 text-center">
          <span class="reloj1c"></span>
          <small class="">compara en 10 segundos</small>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-12 col-md-11  col-lg-12 ms-md-3 ms-lg-0  mt-3 mt-md-4 mb-3">
        <ul class="row imgl p-0 mt-lg-5 mb-lg-3">
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 offset-lg-1 text-center"><span class="qualitas"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="gnp"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="axa"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="banorte"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="zurich"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="inbursa"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="hdi"></span></li>
          <!--<li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><img class="imgstylet" src="~/static/img/aseguradoras-logo/color/elaguila.svg"/></li>-->
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="ana"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="atlas"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="afirme"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 offset-lg-1 text-centern mt-2"><span class="aig"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="latino"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="general"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="bxmas"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><img src="/seguros-para-motos/img/aseguradoras-logo/logoaba.svg" width="70" height="35" alt="aba-logo" class="p-0 m-0"></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="sura"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="potosi"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="mapfre"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="miituo"></span></li>
          <li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center mt-2"><span class="migo"></span></li>
          <!--<li style="display:inline;" class="col-4 col-md-2 col-lg-1 text-center"><span class="crabi"></span></li>-->
        </ul>
      </div>
    </div>




    <!-- CONTENIDO -->

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">¿Por qué usar Compara Ya?</h3>
        </div>              
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">En Compara Ya, nos encargamos de analizar las mejores alternativas de seguros para motos, por ello es que te sentirás completamente seguro de que tomaras una buena decisión, para poder contratar la mejor alternativa necesitas Compara Ya, conoce las ventajas de cada compañía y sobre todo cada uno de los puntos importantes que necesitas saber para poder tomar la mejor decisión.</p>
          <p class="text">Compara Ya, y disfruta del que será tu mejor seguro para moto, solo necesitas decidirte y comparar, conoce qué es lo que necesitas y contrata el más adecuado, atrévete y Compara Ya tu experto aliado.</p>
          <ul class="pl-3">
            <li class="text lista"><span class="circulito"></span> Compara ya te ofrece los mejores precios, de las aseguradoras.</li>
            <li class="text lista"><span class="circulito"></span> Representamos a las más importantes aseguradoras del país.</li>
            <li class="text lista"><span class="circulito"></span> Descuentos, ofertas y planes de pago especialmente para ti.</li>
          </ul>
          <p class="text">Cobertura:</p>
          <ul  class="pl-3 ">
            <li class="text lista"><span class="circulito"></span> Por Daños Materiales.</li>
            <li class="text lista"><span class="circulito"></span> Robo Total.</li>
            <li class="text lista"><span class="circulito"></span> Responsabilidad Civil Bienes y Personas.</li>
            <li class="text lista"><span class="circulito"></span> Gastos Médicos al conductor y sus acompañantes.</li>
            <li class="text lista"><span class="circulito"></span> Defensa Jurídica.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">¿Por qué contratar un Seguro para Motos en Compara Ya?</h3>
        </div>              
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">Los seguros para motos brindan diferentes coberturas con las que puedan atender las necesidades de cada uno de los motociclistas; las principales coberturas son de robo total de la motocicleta, los daños a terceros, la asistencia legal, de responsabilidad civil por fallecimiento, asistencia vial, llave de repuestos, gastos médicos para el conductor y el ocupante, casco o vestimenta.</p>
          <p class="text">Lo mejor que puedes hacer es prevenir y comenzar a evaluar y comparar con las diferentes aseguradoras, los productos y servicios que ofrecen ya que hay en el mercado, pues está claro que nuestra seguridad es lo más importante y no debemos escatimar en ello, por todo esto te explicamos las razones por las que debes contratar un seguro para motos.</p>
          <p class="text">Los seguros para motos son productos que prácticamente no son promovidos por la gran mayoría de las compañías aseguradoras, esto puede ser porque su alta siniestralidad es un producto que se puede considerar caro y no son muchas las personas dispuestas a pagar lo que se requiere, así como también porque necesitan o son más las personas que están dispuestas a pagar lo que se requiere, así como también porque necesitan de mucho servicio por parte de las aseguradoras.</p>
          <p class="text">Lo anterior es un punto que en nuestro país que ya cambió, esto porque ofrecen una protección indispensable para cada uno de los propietarios de motos y motonetas, además de que su contratación se convertirá con obligación para la mayoría de los usuarios. Compara Ya se encarga de seleccionar los mejores beneficios y de las compañías aseguradoras que ofrecen seguros para motos en México.</p>
          <p class="text">Compara Ya se encarga de recabar la información necesaria, para que tu decisión sea la más adecuada conforme a tus peticiones y necesidades; tendrás todos los datos que necesitas a tu mano como sus precios y ventajas, te ofrecemos la oportunidad de que compares y cotices el seguro de tu motocicleta con la ayuda de nuestros expertos calificados.</p>
          <p class="text">Los seguros para motos son muy parecidos a los seguros para los auto, ya que en ambos seguros se brinda la protección contra los mismos siniestros y tipos de daños, se pueden definir como el contrato entre el usuario y el propietario de una moto, la compañía aseguradora se encarga de protegerte ante cualquier caso de que pueda ocurrir, ya se aun accidente o de que sea víctima de un robo.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h3 class="borde-tit">Ventajas de contar con un Seguro para Motos</h3>
        </div>              
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">El seguro para motos es obligatorio, por ello la póliza de seguro más conocida o solicitada suele ser el seguro estandarizado de Responsabilidad Civil, el cual se encargará de amparar con 100 mil pesos para las lesiones de las personas y con 50 mil pesos que se destinen para los daños de los bienes. Sin embargo, de ello existen otras coberturas para motos, misma que de forma completa ésta póliza se contempla de otros siniestros como el robo de la unidad o de los daños al vehículo asegurado.</p>
          <p class="text">Seguro de Daños a Terceros, hay otras alternativas como:</p>

          <ul id="check" class="pl-3">
            <li class="text lista"><span class="circulito"></span> Cobertura de casco y vestimenta: es la que te protege ante la pérdida total y los daños del casco y/o vestimenta del motociclista asegurado.</li>
            <li class="text lista"><span class="circulito"></span> Robo Total: en caso de que la unidad sea hurtada de manera involuntaria, la compañía aseguradora podría indemnizar al titular de la póliza, restando el deducible correspondiente.</li>
            <li class="text lista"><span class="circulito"></span> Accesorios: Ésta es la que te brinda el apoyo para costear los daños parciales o totales que sufran los accesorios instalados en la motocicleta asegurada debido a percance vial o robo, pagando su debido deducible.</li>
            <li class="text lista"><span class="circulito"></span> Gastos Médicos al conductor y/o el acompañante: En caso de que los pasajeros y motociclista lleguen a sufrir un percance que derive en lesiones físicas, esta cobertura ampara en el pago de gastos médicos como hospitalización, medicinas, atención médica, enfermeros, servicio de ambulancia y gastos de entierro.</li>
            <li class="text lista"><span class="circulito"></span> Protección para las llaves: Ésta es la cobertura que te apoya como asegurado en la reposición o reparación de las llaves del ciclomotor asegurado en caso de robo, descompostura, pérdida o rotura.</li>
            <li class="text lista"><span class="circulito"></span> Muerte accidental del conductor: Es la protección capaz de indemnizarte con los beneficios estipulados por el motociclista en el contrato de la póliza y que derive su muerte o de un accidente en moto.</li>
            <li class="text lista"><span class="circulito"></span> Daños Materiales: Es el que se hará cargo de los gastos que deriven en daños o pérdidas materiales, tanto parciales como totales de la moto asegurada, con un deducible de 20%, debido a colisión, desastres naturales, incendio, caída de árboles, vandalismo, entre otros gastos no contemplados.</li>
            <li class="text lista"><span class="circulito"></span> Asistencias Viales y Legales: Se refiere a los auxilios que apoyan al asegurado en caso de que este sufra algún imprevisto, como la avería mecánica, pinchadura de neumáticos, envío de gasolina, etc.</li>
          </ul>
          <p class="text">Es importante que destaquemos que los montos asegurados y los deducibles pueden ser diferentes de una compañía a otra, por lo que es conveniente que antes de contratar se pregunte al ejecutivo todas las dudas que se tengan sobre el seguro y la póliza para poder solicitar una copia de los Términos y Condiciones Generales.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid my-3 my-lg-4 d-none d-md-block">
      <div class="row">
        <div class="col-3 col-md-2 offset-1 offset-md-2 my-auto p-0">
          <picture>
            <source srcset="img/circulo-mono.webp" type="image/webp">
            <img src="img/circulo-mono.png" alt="mono2" class="monocirc"> 
          </picture>
        </div>
        <div class="col-7 col-md-6  my-auto">
          <div class="row">
            <div class="col-12 px-lg-5 fichabtn py-3">
              <p class="mb-0 textm2">Compara Ya mi experto aliado.</p>
              <a href="#formcotizar" class="my-2 btn btn-block btn-success btncotiza"> 
                <div class="form-e">
                  Cotizar Ahora <span class="f-sig"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h4 class="borde-tit">Coberturas importantes en tu Seguro para Motos</h4>
        </div>              
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text"><strong>Por Daños Materiales.</strong></p>
            <ul class="pl-3">
              <li class="text lista"><span class="circulito"></span> Está que se encarga de cubrir los daños a tu motocicleta, por motivo de colisión, vuelco en un accidente vial, caída de objetos y árboles, inundaciones o riesgos catastróficos, alborotos populares y transportación.</li>
            </ul>

            <p class="text"><strong>Robo Total</strong></p>
            <ul i class="pl-3">
              <li class="text lista"><span class="circulito"></span> Cubre el robo total de tu motocicleta y las pérdidas o daños materiales que sufra a consecuencia del robo.</li>
            </ul>

            <p class="text"><strong>Responsabilidad Civil Bienes y Personas </strong></p>
            <ul  class="pl-3">
              <li class="text lista"><span class="circulito"></span> Se encarga de cubrir tu responsabilidad civil en la que llegue a incurrir el beneficiario a causa de un accidente en la moto, o que llegue a afectar a un tercero en sus bienes en su persona.</li>
            </ul>

            <p class="text"><strong>Gastos Médicos al conductor y sus acompañantes </strong></p>
            <ul class="pl-3">
              <li class="text lista"><span class="circulito"></span> Puede cubrir el pago de gastos médicos del asegurado y sus acompañantes, por lesiones corporales en accidentes automovilísticos o por las diversas circunstancias amparadas en las coberturas de Daños Materiales y Robo total.</li>
            </ul>

            <p class="text"><strong>Defensa Jurídica</strong></p>
            <ul  class="pl-3">
              <li class="text lista"><span class="circulito"></span> Ampara al conductor desde el inicio hasta la terminación del procedimiento penal, incluyendo asesoría y gestión ante el Ministerio Público o la autoridad judicial correspondiente, para que se otorgue la fianza o caución, con el fin de garantizar su libertad.</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid p-t pt-5 pt-md-4 pt-lg-5">
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 pl-md-0">
          <h4 class="borde-tit">Más Privilegios en tu Seguro para Moto en Compara Ya</h4>
        </div>              
      </div>
      <div class="row">
        <div class="col-12 col-md-11 ms-md-3 ms-lg-5 mt-2 ">
          <p class="text">En nuestro país, el seguro de Responsabilidad Civil es obligatorio para cada uno de los dueños y/o conductores de automotores, esto incluye a los motociclistas, mismos que circulen por carreteras federales. Sin embargo, de acuerdo con la Asociación Mexicana de Instituciones de Seguros conocida como la (AMIS), el parque nacional de motos cuenta tan solo con dos millones 887 mil 057, de las cuáles tan sólo el 11% de los conductores de motos cuentan con algún tipo de póliza. Esto llega a significar un alarmante para la población, en general destacamos que nadie esta excento de sufrir un siniestro o accidente, así como las repercusiones que puede llevar, como el riesgo económico para todos los usuarios de las calles latente.</p>
          <p class="text">Si todavía tienes duda porque el seguro para moto es obligatorio esto te interesa; la razón detrás de esta medida es el alto índice de accidentes que se han registrado en las autopistas del país y el costo económico social que representa. Según los datos del Instituto Nacional de Estadística y Geografía conocido como (INEGI), en los últimos diez años, los siniestros con vehículos motorizados de dos ruedas han incrementado en 42.8% de los cuáles el 21.6% fueron mortales, esto suele resultar que es la segunda causa de mortalidad en estos conductores.</p>
          <p class="text">El seguro para motos es obligatorio para poder circular en caminos, puentes y carreteras federales alrededor de nuestro país es necesario contar con una cobertura vial, esto también significa que es indispensable para poder transitar por algunas zonas urbanas y suburbanas de algunos estados como Baja California, Chiapas, Ciudad de México, Estado de México, Morelos, Jalisco, Morelos, Nayarit, Nuevo León, Querétaro, San Luis Potosí, Sinaloa, Sonora, Tabasco, Tamaulipas, Veracruz y Yucatán.</p>
          <p class="text">El gobierno, tanto las autoridades federales como locales competentes, son las que pueden detener a los conductores para solicitar la póliza vigente, de lo contrario podrán imponer una sanción monetaria y en caso de siniestro o accidente, además de remitir a la unidad o corralón hasta que el responsable cumpla con las multas administrativas y que se haga cargo de los gastos por daños a terceros.</p>
          <p class="text">Un factor importante para que más usuarios elijan una moto como su medio de transporte es el alto costo de la gasolina, más de cuatro millones de autos en la Ciudad de México, una velocidad promedio de 13 km por hora este es uno de los motivos que a hecho que más de uno busquen alternativas para transportarse en moto y llegar a tiempo al trabajo, a las juntas, a la escuela, etcétera y algunos han visto en la motocicleta una opción para un ahorro de tiempo y dinero. Por eso vamos a revisar cuáles son las mejores aseguradoras de motocicletas.</p> 
          <p class="text">En cuanto al uso de gasolina, se dice que algunos estudios sobre las motocicletas y bicicletas con motor, están obligados a contar con un seguro de responsabilidad civil, pese a ello se puede calcular que solamente 11% del parque o de las motocicletas que están registradas en el país están aseguradas.</p>
          <p class="text">Para poder combatir la falta de seguro para motos, desde el 2014 se logró crear el proceso gradual para que todos los vehículos en nuestro país, sean asegurados por cada dueño y en este programa entran los vehículos automotores de uso particular, esto significa que las motocicletas y bicicletas a motor entran en el esquema de rigor.</p>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
  import HeaderComponent from '~/components/common/Header.vue'
  // import MotosForm from '~/components/forms/MotosForm.vue'
  // import MotosFormCompleto from '~/components/forms/MotosFormCompleto.vue'
  import MotosFormCompleto from '~/components/forms/MotosFormQualitas.vue'
  import getInsurerPromo from "~/plugins/promoData.js";

  export default {
    beforeCreate: function () {
          this.$store.state.config.aseguradora = 'QUALITAS';
          this.$store.state.config.cotizacion = true;
          this.$store.state.config.emision = true;
          this.$store.state.config.descuento = 0;
          this.$store.state.config.telefonoAS = '88902487';
          this.$store.state.config.grupoCallback = 'VN Motos';
          this.$store.state.config.from = 'COMPARAYA-MOTOS';
          this.$store.state.config.idPagina = 159;
          this.$store.state.config.idMedioDifusion = 1297;
              this.$store.state.config.idMedioDifusionInteraccion = 6218;
    this.$store.state.config.idMedioDifusionEcommerce = 6217;
          this.$store.state.config.idSubRamo = 57;
          this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
          this.$store.state.config.dominioCorreo = "MOTOS|comparaya-mx-seguros-para-motos";
          this.$store.state.config.idCampana = 21;
          this.$store.state.config.imgaseg = 'mapfre'; //esta se quitara
          this.$store.state.config.urlRedireccion = '/thanks';
          this.$store.state.config.urlFinal= '/thanks';
          ///////////////////////////////////////////////////
          this.$store.state.config.subproduct = "motos";

             //PROMOCIONES
          

    },

    async created() {
      try {
        // Traemos la promoción especifica de la aseguradora para este dominio.
        const insurer = await getInsurerPromo(
        "genericas",
        this.$store.state.config.aseguradorapromo
      );
        // const insurer = await getInsurerPromo(
        //   this.$store.state.config.aseguradora,
        //   this.$store.state.config.subproduct ,

        // );
       
      this.$store.commit("telApi");
     
      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
        this.$store.state.config.msi = insurer.promo.msi;

        this.$store.state.config.promoLabel = insurer.promo.label;

        // La promo es especial?
        this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

        // Imagen para la promoción especial.
        this.$store.state.config.promoImg = insurer.promo.urlImg;

        this.$store.state.config.extraMsg = insurer.promo.extraMsg;
        /* Descomentar cuando la API mande estos valores
        y borrar los de abajo.

        store.state.config.cotizacion = insurer.quote;
        store.state.config.telefonoAS = insurer.phone;
        store.state.config.telefonoBtn = insurer.phone;

        */

        // Si se trata de una promoción especial aplicamos los estilos necesarios
        // a el recuadro.
        if (insurer.promo.isSpecial) {
          this.$store.state.config.clase1 = "adornosPromo";
          this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
          this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
          this.$store.state.config.colorPromo="descuentosPromo"
        }
      } catch (err) {
        console.log(err);
      }
    },

    components: {
      HeaderComponent,
      MotosFormCompleto
    },
      head() {
      return {
        title: 'Seguros para Motos - Cotiza Seguros de Motos - Comparaya.mx',
        meta: [
          {hid: 'keywords', name: 'keywords', content: 'Seguros para Motos, Seguros de Motos, Seguros de Motos en México, Seguros para Motocicletas, Cotizador de Seguros para Motos, Seguros Motos'}, 
          {hid: 'description', name: 'description', content: '¡Cotiza Seguros para Motos al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu Seguro de Motos. ¡Es fácil y rápido!'}, 
          {hid: 'author', name: 'author', content: ''}, 
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'}, 
          {hid: 'canonical', rel: 'canonical', href:'https://comparaya.mx/seguros-para-motos'}, 
          {hid: 'robots', name:'robots', content:'index,follow'},
        ]
      }
    }
  };
</script>
<style>
  .masthead .overlay {position: absolute;height: 100%;width: 100%;top: 0;left: 0;background-color:rgba(0, 0, 0, .7);}
  .btnv{display: none;}

.tprincipal{
  text-align: left;
  color: white;
  padding: 2% 0px 0px 0px;
  font-size: 2.5em;
}
.tprincipal2 {
  text-align: left;
  color: white;
}
.c-motos{
	background: #fff;
  padding: 0px;
  
  height: 145px;
}
.blanco {
  background-color: white;
  height: 145px;
}
.bordes {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.bordes2 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cal{
	display: inline;
	font-size: 20px;	
}
.img-moto {
  height: 4rem;
  max-width: 80%;
  margin-top: 8px;
}

.rev {
  font-size: 15px;
}
.styleratestar {
  font-size: 25px;
  color: #ffcc20;
  margin-bottom: 0;
}
@media (min-width: 1800px) {
	.img-moto {
    max-width: 70%;
    margin-top: 5px;
  }

}
@media (min-width: 992px) and (max-width: 1100px){
  .c-motos{height: 150px;}
  .blanco{height: 150px;} 
  .tprincipal{
    font-size: 22px;
  }
  .tprincipal2 {
    font-size: 15px;
  }
  /*estilos de formulario*/
  .cal{
    display: block;
		font-size: 18px;
     margin-top: 4px;
    margin-bottom: -16px;
  }
  .rev {
    font-size: 14px;
  }
  .styleratestar {
    font-size: 18px;
    color:#fedb64;
    margin-bottom: 0;
  }
  .img-moto {
    height: 70px;
    width: 100%;
    margin-top: 5px;
  }
}
@media (min-width: 801px) and (max-width: 991px){
  .c-motos{height: 200px;}
  .blanco{height: 200px;} 
  .tprincipal{
    font-size: 22px;
  }
  .tprincipal2 {
    font-size: 15px;
  }
  /*estilos de formulario*/
  .cal{
    display: block;
		font-size: 22px;
     margin-top: -10px;
    margin-bottom: -14px;
  }
  .rev {
    font-size: 18px;
  }
  .styleratestar {
    font-size: 22px;
    color:#fedb64;
    margin-bottom: 0;
  }
  .img-moto {
    height: 100px;
    width: 100%;
    margin-top: -22px;
  }
}
@media (min-width: 768px) and (max-width: 800px){
  .c-motos{height: 190px;}
  .blanco{height: 190px;}
  .tprincipal{
    font-size: 30px;
  }
  .tprincipal2 {
    font-size: 18px;
  }
  /*estilos de formulario*/
  .cal{
		display: block;
		font-size: 22px;
		margin-bottom: -10px;
  }
  .rev {
    font-size: 18px;
  }
  .styleratestar {
    font-size: 13px;
    color:#fedb64;
    margin-bottom: 0;
  }
  .img-moto {
    height: 65px;
    width: 100%;
    margin-top: 0px;
  }
    label{font-size: 10px}

}
@media (min-width: 426px) and (max-width: 767px){
  .tprincipal{
    font-size: 22px;
  }
  .tprincipal2 {
    font-size: 15px;
  }
  /*estilos de formulario*/
  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .cal{
    display: block;
  }
  .img-moto {
    width: 105%;
    margin-top: 8px;
  }
  .rev {
    font-size: 14px;
  }
  .stylerate {
    font-size: 18px;
    color:black;
    margin-top: 0px;
    margin-bottom: -8px;
  }
  .c-motos{height: auto;}
  .blanco{height: auto;}
}  
@media (min-width: 376px) and (max-width: 425px){
   .c-motos{height: auto;}
  .blanco{height: auto;}
  .tprincipal{
    font-size: 22px;
    text-align: center;
  }
  .tprincipal2 {
    font-size: 15px;
  }
  /*estilos de formulario*/
  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .cal{
		display: block;
		font-size: 28px;
		margin-bottom: -10px;
		margin-top: 0px;
  }
  .img-moto {
    max-width: 100%;
    margin-top: 1px;
	}
	 .styleratestar {
    font-size: 20px;
    color:#fedb64;
    margin-bottom: 0;
  }
  .rev {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 375px){
   .c-motos{height: auto;}
  .blanco{height: auto;}
  .tprincipal{
    font-size: 20px;
    text-align: center;
  }
  .tprincipal2 {
    font-size: 15px;
  }
  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  /*Estilos de formulario*/
  .cal{
    display: block;
    margin-bottom: -10px;
  }
  .img-moto {
    height: 65px;
    max-width: 100%;
    margin-top: 0px;
  }
  .rev {
    font-size: 14px;
	}
	 .styleratestar {
    font-size: 21px;
    color:#fedb64;
    margin-bottom: 0;
  }
}
@media (min-width: 240px) and (max-width: 320px){
   .c-motos{height: auto;}
  .blanco{height: auto;}
  .tprincipal{
    font-size: 1rem;
    text-align: center;
  }
  .tprincipal2 {
    font-size: 15px;
  }
  .bordes {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .bordes2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  /*estilos de formulario*/
  .cal{
    display: block;
    margin-bottom: -10px;
	}
  .rev {
    font-size: 14px;
  }
  .styleratestar {
    font-size: 18px;
    color:#fedb64;
    margin-bottom: 0;
  }
  .img-moto {
    height: 60px;
    max-width: 85%;
    margin-top: 0px;
  }
}
</style>
