<template>
  <div class="bg-motos">
              <header-component/>
    <div class="container-fluid espacio-arr">
      <div class="row ">
        <div class="col-4 offset-1 d-none d-md-block">
          <div class="text-right">
            <img src="img/mono2.png" alt="mono compara" class="mono-grac">
          </div>
        </div>
       
        <div class="col-12 col-md-5 ml-md-5 my-4 my-md-auto">
          <h3 id="graciasPorcotizar" class="asegcoloraba titlethanks mb-0 mt-0">Hola {{this.$store.state.formData.nombre}},</h3>
          <h3 class="asegcoloraba titlethanks mb-0 mt-0"> ya tenemos las coberturas para tu seguro de moto:</h3>
          <h5 class="texto-a"> {{this.$store.state.formData.marca}} {{this.$store.state.formData.modelo}} {{this.$store.state.formData.descripcion}} {{this.$store.state.formData.detalle}}  </h5>
        </div>

      </div>
    </div>
    <thankmotos-content/>
    <logica></logica>
  </div>
</template>
<script>
import HeaderComponent from '~/components/common/Header-gracias.vue'
import ThankmotosContent from '~/components/content/agradecimiento/Thankmotos-qualitas.vue'
import logica from "~/components/common/logica.vue"
export default {
  layout: 'thanks',
  components: {
    HeaderComponent,
    ThankmotosContent,
    logica
  },
     head() {
      return {
        title: 'Seguros para Motos - Cotiza Seguros de Motos - Comparaya.mx',
        meta: [
          {hid: 'keywords', name: 'keywords', content: 'Seguros para Motos, Seguros de Motos, Seguros de Motos en México, Seguros para Motocicletas, Cotizador de Seguros para Motos, Seguros Motos'}, 
          {hid: 'description', name: 'description', content: '¡Cotiza Seguros para Motos al mejor precio en Comparaya.mx! Compara 20 Aseguradoras, elige y en 30 Segundos tendrás tu Seguro de Motos. ¡Es fácil y rápido!'}, 
          {hid: 'author', name: 'author', content: ''}, 
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'}, 
          {hid: 'canonical', rel: 'canonical', href:'https://comparaya.mx/seguros-para-motos/thanks'}, 
          {hid: 'robots', name:'robots', content:'index,follow'},
        ]
      }
    },
    created: function () {
      if (this.$store.state.formData.nombre != '') {
        this.$store.state.config.loading = true;

      }
      else {
        this.$router.replace({path: '/error/'});
      }
      this.$store.state.config.telefonoAS ;

      this.$store.state.config.loading = false;
    }
  
  };
  
</script>
<style>
  .asegcolor{color: #c4243e;font-weight: bold;}
  .btnv{display: none;}
  .subtitleh1{color: #888;}
  .h1style{color: #555;}
</style>

