<template>
  <div>
    <!--<Default />-->
    <Promo />
  </div>
</template>

<script>
import Default from "~/components/alerta/default.vue";
import Promo from "~/components/alerta/promo.vue";
export default {
  components: {
    Default,
    Promo
  },
  created: function() {
    this.$store.state.config.default = false;
    this.$store.state.config.promociones = false;

    this.$store.state.config.promo = " 20% de descuento ";  
    this.$store.state.config.msi = "+ 3, 6, 9 y 12";
    this.$store.state.config.textpromo = "col-8";
    this.$store.state.config.logo = "d-none";
  },
  mounted() {
    this.fecha();
  },
  methods: {
    fecha: function() {
      var fecha = new Date();
      var dia = fecha.getDate();
      var mes = fecha.getMonth() + 1;
      
      if (dia >= 13 && dia <= 19 ) {
        this.$store.state.config.textpromo = "col-6";
        this.$store.state.config.logo= "d-block";
        this.$store.state.config.promo = "25% de descuento ";  
        
      }
    }
  }
};
</script>
