<template>
  <div class="container-fluid fixed-bottom">
    <div class="row">
      <div class="col-12 col-md-11 mx-auto">
        <div id="notificacionleoesgenial" class="container-fluid alertaColor">
          <div v-if="$store.state.config.promociones === true">
            <div class="alert py-0 my-0" role="alert">
              <div class="row m-0">
                <div class="col-12 col-xl-10 offset-xl-1">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span class="x" onclick="document.getElementById('notificacionleoesgenial').style.display='none'">&times;</span>
                  </button>
                  <div class="row">
                    <img src="img/abril.svg" alt="buenfin" class="imgpromo">
                
                    
                    <div class="media-body">
                      <p class="mb-0 ml-md-2">  {{$store.state.config.promo}}{{$store.state.config.msi}}</p>
                      <!--<h6>*Válido {{$store.state.config.time}}</h6>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.row {
  -webkit-box-align: center;
  align-items: center;
}
.logoalert{
  width: 60px;
  height: auto;
  margin-right: 10px;
}
.alertaColor {
  padding: 0;
  margin: 0;
  background: #165295;
  /*background: linear-gradient(left, #ff3029  10%, #ffb604 30%);*/
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
p {
  color: #fff;
  font-weight: 600;
  width: 96%;
  line-height: 1.4;
  font-size: 20px;
}
h6 {
  color: #fff;
  width: 100%;
  font-size: 12px;
}
.alertaColor svg {
  margin: 0 5px 0 0;
  width: 40px;
  padding: 0;
}
.alertaColor button span,
.alertaColorPromo button span {
  z-index: 1;
  position: absolute;
  color: #fff;
  right: 0;
  font-size: 30px;
}
.close {
  opacity: 1 !important;
}
.imgpromo{
  width: 65px;
}
/*.alert{
  background-image: url(/static/img/figura.svg);
  background-size: 450px;
  background-attachment: fixed;
}*/

@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  p {
    font-size: 14px;
  }
}
</style>
