<template>
    <form id="formcotizar" method="POST" action novalidate @submit.prevent="validateBeforeSubmit('formcotizar')">
      <!-- <p class="txtForm my-1 mt-3">
        Ingresa los datos de tu moto para cotizar en segundos
      </p> -->
      <div class="row">
        <!-- MARCA -->
        <div class="col-12 col-md-6 form">
          <select name="marca" id="marca" v-model="$store.state.formData.marca" required=""
            class="form-control form-select my-1 custominput" @change="getModelos(), myFocus('modelo')">
            <option value>Marca</option>
            <option v-for="marca in formData.marcas" v-bind:key="marca.text">{{
                marca.text
            }}</option>
          </select>
          <small style="display: none; color: red" class="marcaReq adver"><span>El campo Marca es
              requerido</span></small>
        </div>

        <!-- MODELO -->
        <div class="col-12 col-md-6 form">
          <select name="modelo" id="modelo" v-model="$store.state.formData.modelo" required=""
            class="form-control form-select my-1 custominput" @change="getDescripciones(), myFocus('descripcion')">
            <option value>Modelo</option>
            <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">{{ modelo.text }}</option>
          </select>
          <small style="display: none; color: red" class="modeloReq adver"><span>El campo Modelo es
              requerido</span></small>
        </div>
      </div>

      <div class="row">
        <!-- DESCRIPCION -->
        <div class="col-12 col-md-6 form">
          <select style="overflow:hidden;width:100%" name="descripcion" id="descripcion"
            v-model="$store.state.formData.descripcion" required="" class="form-control form-select my-1 custominput"
            @change="getSubDescripciones(), myFocus('detalle')">
            <option value>Submarca</option>
            <option v-for="descripcion in formData.descripciones" v-bind:key="descripcion.text">{{ descripcion.text }}
            </option>
          </select>
          <small style="display: none; color: red" class="descripcionReq adver"><span>El campo Submarca es
              requerido</span></small>
        </div>

        <!-- SUBDESCRIPCION -->
        <div class="col-12 col-md-6 form">
          <select style="overflow:hidden;width:100%" title="detalle" name="detalle" id="detalle" required=""
            class="form-control my-1 form-select custominput" @change="detalleSelected(), myFocus('edad')"
            v-model="$store.state.formData.clave">
            <option value>Descripción</option>
            <option v-for="subdescripcion in formData.subDescripciones" v-bind:key="subdescripcion.text"
              :value="subdescripcion.id">{{ subdescripcion.text }}
            </option>
          </select>
          <small style="display: none; color: red" class="detalleReq"><span>El campo Descripción es
              requerido</span></small>
        </div>
      </div>

      <div class="row">
        <!-- EDAD -->
        <div class="col-12 form">
          <select name="edad" id="edad" v-model="$store.state.formData.edad" required=""
            class="form-control form-select my-1 custominput"
            @change="calculaFechaNacimiento(), myFocus('genero'), warningReq('edadReq')">
            <option value>Edad del conductor</option>
            <option v-for="edad in formData.edades" v-bind:key="edad">{{
                edad
            }}</option>
          </select>
          <small style="display: none; color: red" class="edadReq adver"><span>El campo Edad es requerido</span></small>
        </div>
      </div>

      <div class="row">
        <!-- GENERO -->
        <div class="col-12 col-md-6 form">
          <select name="genero" id="genero" v-model="$store.state.formData.genero" required=""
            class="form-control form-select my-1 custominput" @change="myFocus('cp'), warningReq('generoReq')">
            <option value>Género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
          <small style="display: none; color: red;" class="generoReq adver"><span>El campo Género es
              requerido</span></small>
        </div>
        <!-- CODIGO POSTAL -->
        <div class="col-12 col-md-6 form ">
          <input type="tel" name="cp" id="cp" v-model="cp" onkeypress="if(this.value.length === 5) return false;"
            class="form-control my-1 custominput" required="" maxlength="5" minlength="5"
            placeholder="Código Postal" @change="myFocus('nombre'), warningReq('cpReq')" />
          <small style="display: none; color: red;" class="cpReq adver"><span>El campo Código Postal es
              requerido</span></small>
          <small style="display: none; color: #183D7B;" class="cpInc adver"><span>Escribe tu Código Postal a 5
              dígitos</span></small>
        </div>
      </div>

      <div class="row">
        <!-- NOMBRE -->
        <div class="col-12 form">
          <input type="text" name="nombre" id="nombre" v-model="nombre" pattern="[a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.]{3,50}"
            class="form-control my-1 custominput" required="" placeholder="Nombre"
            @change="warningReq('nombreReq') ,space('nombre')" />
          <small style="display: none; color: red;" class="nombreReq adver"><span>El campo Nombre es
              requerido</span></small>
          <small style="display: none; color: #183D7B;" class="nombreInc adver"><span>Escribe el Nombre
              correcto</span></small>
        </div>
      </div>

      <div class="row">
        <!-- CORREO -->
        <div class="col-12 col-lg-6 form">
          <input type="email" name="correo" id="correo" v-model="correo" required="" minlength="8" maxlength="50"
            class="form-control my-1 custominput" placeholder="E-mail" @change="warningReq('correoReq'),space('correo')" />
          <small style="display: none; color: red;" class="correoReq adver"><span>El campo E-mail es
              requerido</span></small>
          <small style="display: none; color: #183D7B;" class="correoInc adver"><span>Ejemplo:
              tuemail@email.com</span></small>
        </div>
        <!-- TELEFONO -->
        <div class="col-12 col-lg-6 form ">
          <input type="tel" name="telefono" id="telefono" v-model="telefono" required="" maxlength="10" minlength="10"
            onkeypress="if(this.value.length === 10) return false;" class="form-control my-1 custominput"
            placeholder="Teléfono" @change="myFocus('btnCotizarAuto'), warningReq('telefonoReq')" />
          <small style="display: none; color: red;" class="telefonoReq adver"><span>El campo Teléfono es
              requerido</span></small>
          <small style="display: none; color: #183D7B;" class="telefonoInc adver"><span>Escribe tu número a 10
              dígitos</span></small>
        </div>
        <input type="text" id="gclid_field" name="gclid_field" value="" style="visibility:hidden;height:1px; display: none;" />
 
      </div>
      <!-- CHECKBOX -->
      <div class="row">
        <div class="col-12 text-center">
          <privacidad />
        </div>
      </div>

      <!-- BOTON -->
      <div class="row m-0">
        <div class="d-grid gap-2 p-0" style="width: 100%">
          <button
            class="btn btn-success btn-block py-2"
            type="submit"
            id="btnCotizarAuto"
            name="b-precio"
            style="font-size: 26px"
          >
            <div class="d-inline-flex">
              Ver precios ahora<span class="f-sig2"></span>
            </div>
          </button>
        </div>
      </div>
    </form>
</template>

<script>
import monitoreoService from "~/plugins/monitoreo";
import marcas from "~/script/qualitas_motos.json"
import Catalogos from "~/plugins/catalogosq";
import privacidad from "~/components/common/privacidad.vue"
import saveDataCliente from "~/plugins/saveDataCliente";
import axios from "axios";

const catalogo = new Catalogos();
const tokenData = process.env.tokenData;
export default {
  props: {
    config: Object,
  },
  components: {
    privacidad
  },
  data() {
    return {
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
        telefono: "",
      },
      telefono: "",
      nombre: "",
      correo: "",
      accessToken: "",
      edad: "",
      cp: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "descripcionReq" },
        { id: "detalleReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },
  beforeCreate() {
    console.log('BEFORE CREATED...')
    this.$store.commit("validarTokenCore")
  },
  async created() {
    if (typeof window !== 'undefined') {
      this.$store.state.formData.urlOrigen = window.location.href;
    }

    this.$store.state.formData.utmSource = this.$route.query.utm_source ? this.$route.query.utm_source : 'No params detected'
    this.$store.state.formData.utmMedium = this.$route.query.utm_medium ? this.$route.query.utm_medium : 'No params detected'
    this.$store.state.formData.utmCampaign = this.$route.query.utm_campaign ? this.$route.query.utm_campaign : 'No params detected'
    this.$store.state.formData.utmId = this.$route.query.utm_id ? this.$route.query.utm_id : 'No params detected'

    if(!this.$store.state.config.loading){
   this.$store.state.config.loading = true
    if (typeof window !== 'undefined') {
    window.location.reload()
    }
  }
    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.aseguradora =
      this.$store.state.config.aseguradora;
    // this.formData.marcas = marcas;
    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al generar el token");
          var status =
            error.response !== undefined ? error.response.status : 500;
          var message =
            error.response !== undefined
              ? JSON.stringify({
                error: error.response.data,
                peticion: JSON.parse(error.config.data),
              })
              : JSON.stringify({
                error: "ERR_CONNECTION_REFUSED",
                peticion: { tokenData: tokenData },
              });
          this.monitoreo(1707, status, message);
        });
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
    this.getMarcas();
    this.getEdades();
  },
  methods: {
    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@")
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
          separado = cadena.substring(primero + 1, cadena.length).split("@")
          separado.forEach(element => {
            cad2 += element.replaceAll("@", "")
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2
        cadena = cadena.split(' ').join(' ').trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, '');
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(' ').join(' ').trim();
      }
      this[valor] = cadena;
    },

        getMarcas: function () {

      catalogo
        .marcas()
        .then((response) => {
          this.formData.marcas = response.data;
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
              ? error.response.status
              : 500;
          var message = error.data
            ? JSON.stringify({
              error: error.data,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
              },
            })
            : JSON.stringify({
              error: error,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
              },
            });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.getModelos();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                      error: error.response.data,
                      peticion: JSON.parse(error.config.data),
                    })
                    : JSON.stringify({
                      error: "ERR_CONNECTION_REFUSED",
                      peticion: { tokenData: tokenData },
                    });

              });
          } else {
            console.log("Hubo un problema al cargar los modelos");

          }
        });
    },
    getModelos: function () {
      this.warningReq("marcaReq");
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      catalogo
        .modelos(this.$store.state.formData.marca, this.accessToken)
        .then((response) => {
          this.formData.modelos = response.data;
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
              ? error.response.status
              : 500;
          var message = error.data
            ? JSON.stringify({
              error: error.data,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
              },
            })
            : JSON.stringify({
              error: error,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
              },
            });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.getModelos();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                      error: error.response.data,
                      peticion: JSON.parse(error.config.data),
                    })
                    : JSON.stringify({
                      error: "ERR_CONNECTION_REFUSED",
                      peticion: { tokenData: tokenData },
                    });
                this.monitoreo(659, status, message);
              });
          } else {
            console.log("Hubo un problema al cargar los modelos");
            this.monitoreo(1560, status, message);
          }
        });
    },
    getDescripciones: function () {
      this.warningReq("modeloReq");
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      catalogo
        .submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.accessToken
        )
        .then((response) => {
          this.formData.descripciones = response.data;
        })
        .catch((error) => {
          var status = error.status
            ? error.status
            : error.response
              ? error.response.status
              : 500;
          var message = error.data
            ? JSON.stringify({
              error: error.data,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
                modelo: this.$store.state.formData.modelo,
              },
            })
            : JSON.stringify({
              error: error,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
                modelo: this.$store.state.formData.modelo,
              },
            });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.getDescripciones();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                      error: error.response.data,
                      peticion: JSON.parse(error.config.data),
                    })
                    : JSON.stringify({
                      error: "ERR_CONNECTION_REFUSED",
                      peticion: { tokenData: tokenData },
                    });
                this.monitoreo(659, status, message);
              });
          } else {
            console.log("Hubo un problema al cargar las descripciones");
            this.monitoreo(1559, status, message);
          }
        });
    },
    getSubDescripciones: function () {
      this.warningReq("descripcionReq");
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.detalle = "";
      this.formData.subDescripciones.length = 0;
      this.formData.detalles.length = 0;
      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });
      this.$store.commit("cotizacionPromo"); 

      catalogo
        .descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion,
          this.accessToken
        )
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.subDescripciones = response;
          } else {
            this.formData.subDescripciones = response.data;
          }
        })
        .catch((error) => {
          var status = error.status
            ? error.status
            : error.response
              ? error.response.status
              : 500;
          var message = error.data
            ? JSON.stringify({
              error: error.data,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
                modelo: this.$store.state.formData.modelo,
                descripcion: this.$store.state.formData.descripcion,
              },
            })
            : JSON.stringify({
              error: error,
              peticion: {
                aseguradora: this.$store.state.formData.aseguradora,
                marca: this.$store.state.formData.marca,
                modelo: this.$store.state.formData.modelo,
                descripcion: this.$store.state.formData.descripcion,
              },
            });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.getSubDescripciones();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                      error: error.response.data,
                      peticion: JSON.parse(error.config.data),
                    })
                    : JSON.stringify({
                      error: "ERR_CONNECTION_REFUSED",
                      peticion: { tokenData: tokenData },
                    });
                this.monitoreo(659, status, message);
              });
          } else {
            console.log("Hubo un problema al cargar las subDescripciones");
            this.monitoreo(1561, status, message);
          }
        });
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },

    getEdades: function () {
      this.formData.edades = Array.from(Array(80).keys(), (n) => n + 17 + 1);
    },
    detalleSelected(evt) {
      var x = document.getElementById('detalle');
      var i = x.selectedIndex;
      if (this.$store.state.formData.clave != '') {
        this.$store.state.formData.detalle = x.options[i].text;
      } else {
        this.$store.state.formData.detalle = '';
      }
      //  this.myFocus("edad");
      this.warningReq('detalleReq');
    },
    validateBeforeSubmit() {
      this.formValido = 1;
      for (var w in this.warning_req)//w=indices
      {
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        document.getElementById("btnCotizarAuto").disabled = true;
        document.getElementById("formcotizar").reset();
        $nuxt._router.push({ path: this.$store.state.config.urlRedireccion });
    
      }
      else {
        document.getElementById("btnCotizarAuto").disabled = false;
      }
    },
    myFocus: function (id) {
      setTimeout(alertFunc, 500);
      function alertFunc() {
        if (typeof document != 'undefined') {
          var e = document.getElementById(id);
          if (e) {
            e.focus();
          }
        }
      }
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad).toString()
      ).toString("dd/MM/yyyy");
    },
    expresionRegularCP: function () {
      this.warningReq("cpReq");
      this.warningInc("cpInc", "none");
      //valida solo numeros
      var regExp = /^(\d){5}$/; //espera 5 numeros
      var cod = regExp.exec(this.cp);
      if (cod) {
        this.$store.state.formData.cp = this.cp;
      } else {
        if (this.cp != "") {
          //No mostrar incorrecto cuando borre numeros hasta dejar el campo vacio
          this.warningInc("cpInc", "block");
        }
      }
    },
    warningReq: function (idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if (typeof req[0] != "undefined") {
          req[0].style.display = "none";
        }
        if (
          id == "cp" &&
          this.$store.state.formData.cp == "" || this.cp.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") { this.warningView(idWarning, "block"); }
        }
        else if (
          id == "nombre" &&
          this.$store.state.formData.nombre == "" || this.nombre.search(/[0-9]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") { this.warningView(idWarning, "block"); }
        }
        else if (
          id == "correo" &&
          this.$store.state.formData.correo == ""
        ) {
          this.formValido = 0;
          if (elemento.value == "") { this.warningView(idWarning, "block"); }
        }
        else if (
          id == "telefono" &&
          this.$store.state.formData.telefono == "" || this.telefono.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") { this.warningView(idWarning, "block"); }
        }
        else if (
          elemento.value == "" &&
          (
            idWarning == "marcaReq" ||
            idWarning == "modeloReq" ||
            idWarning == "descripcionReq" ||
            idWarning == "detalleReq" ||
            idWarning == "edadReq" ||
            idWarning == "generoReq"
          )
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        } else {
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningView: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
    checkCaracter: function (caracter, tipo) {
      var regExp = '';
      if (tipo == 'numero') {
        regExp = /[0-9]/;
      } else { regExp = /[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/; }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      }
      else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo + "Inc", "none");
        this.warningReq(campo + 'Req');
      }
      else {
        this.$store.state.formData[campo] = '';
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + 'Req');
        //Muestra advertecia INCORRECTO
        this.warningView(campo + "Inc", "block");
      }
    },
  },
  watch: {
    telefono: function () {//version2
      if (this.telefono.length > 0) {//un caracter al menos
        var ultimoCaracter = this.telefono.substring(this.telefono.length - 1, this.telefono.length);
        var result = this.checkCaracter(ultimoCaracter, 'numero');
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, 'telefono');
          if (this.telefono.length == 10) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("btnCotizarAuto")
            }, 1000);
          }
        }
        else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = '';
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function () {//version2

      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if (this.nombre.length > 2) {//un caracter al menos
        var ultimoCaracter = this.nombre.substring(this.nombre.length - 1, this.nombre.length);
        var result = this.checkCaracter(ultimoCaracter, 'letra');
        if (result) {
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2, this.nombre, null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
            this.nombre, 'nombre');
        }
        else {
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      } else {
        this.$store.state.formData.nombre = '';
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {//version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim();//no funciona en el campo tipo email
      if (this.correo.length > 0) {//un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo, 'correo');
      } else {
        this.$store.state.formData.correo = '';
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function () {//version2
      if (this.cp.length > 0) {//un caracter al menos
        var ultimoCaracter = this.cp.substring(this.cp.length - 1, this.cp.length);
        var result = this.checkCaracter(ultimoCaracter, 'numero');
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4, this.cp, '33333');
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/, this.cp, 'cp');
          console.log(this.cp.length)
          if (this.cp.length == 5) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("nombre")
            }, 1000);
          }

        }
        else {
          //Guarda valor sin ultimo caracter no cp
          this.cp = this.cp.substring(0, this.cp.length - 1);
        }
      } else {
        this.$store.state.formData.cp = '';
        //Oculta advertencia INCORRECTO
        this.warningView("cpInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
  mounted() { },
};
</script>
